/****************************************************************

File:       block/course_rollover/style.css

Purpose:    Cascading style sheet

****************************************************************/

.block_course_rollover div.header{
    /*background: none repeat scroll 0 0 #74A654;*/
}
.path-blocks-course_rollover legend.ftoggler.rollovered{
    opacity: 0.5
}

.path-blocks-course_rollover legend.ftoggler.rollovered .status{
    font-size: 0.7em;
}

.path-blocks-course_rollover .generalbox.first ol{
    margin-bottom: 0;
}
.path-blocks-course_rollover .generalbox.first{
    padding-bottom: 0!important;
}
.path-blocks-course_rollover .generalbox.second{
    padding-top: 0!important;
    margin-top: -12px;
}

.path-blocks-course_rollover .show-content{
    /*margin-left: 2.5em;*/
    /*padding-left: 30px;*/
}