// Site administration page
//
//needs to be reviewed - contains some css which is not doing anything
// replace the hard coded break point

#page-admin-search{
  div[role="main"]{
    hr{
      display: none;
    }
  }
  .nav-tabs{
    margin-top: 1.25rem;
    border-bottom: none;
    .nav-item{
      margin-bottom: 0;
      margin-right: 3px;
      .nav-link{
        background-color: $blocks-gray;
        color: $brand-secondary;
        border: none;
        &:hover, &:active, &:focus{
          border: none;
          background-color: darken($blocks-gray, 5%);
        }
        &.active{
          background-color: $brand-secondary;
          color: $btn-text-color;
          border: none;
        }
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
    @media (max-width: 767px){
      .nav-item{
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 8px;
        .nav-link{
          text-align: center;
          border-bottom: 3px solid $brand-secondary;
          &:hover, &:active, &:focus{
            border-bottom: 3px solid $brand-secondary;
          }
          &.active{
            border-bottom: 0;
          }
        }
      }
    }
  }
  .tab-content{
    border-top: 3px solid $brand-secondary;
    @media (max-width: 767px){
      border-top: none;
    }
    .card-bg{
      border:none;
    }
    .card-block{
      padding: 0;
    }
    .container{
      padding-top: 8px;
    }
    .row{
      padding: 1.25rem;
      margin-bottom: 4px;
      background-color: $blocks-blue;
      border-radius: $border-radius;
      .col-sm-6{
        //float: none;
        //width: 100%;
        //padding: 0;
        max-width: none;
        flex: 0 0 100%;
        h4:first-of-type {
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          color: $brand-secondary;
          font-weight: 900;
          display: inline-block;
          padding: 0 1.25rem .4rem 0;
          border-bottom: 3px solid $brand-secondary;
          a{
            color: inherit;
          }
        }
        .list-unstyled{
          li a{
            display: block;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            @include transition(background-color .25s ease-out);
            &:hover, &:active, &:focus{
              background-color: darken($blocks-blue, 5%);
            }
          }
        }
      }
      .push-sm-6{
        left: 0;
      }
    }
  }
}
// Site administration page end
