*:focus, *:active{
	outline: none;
}
.path-my #region-main-box{
	@include media-breakpoint-down(xs) {
		padding: 0 0.3rem;
	}
}

/* fix for sticky footer */
body{
	padding-top:$navbar-height;
}
#page{
	margin-top:0;
}
/* fix for sticky footer */

#page-content{
	clear:both;
	position:relative;
	overflow-x: hidden;//for zooming but may have side effect
	#region-main-box, #block-region-side-pre{
		margin-top: 1.25rem;
	}
	@include make-row();
}
#region-main{
	@include media-breakpoint-down(md) {
		float:none;
	}
}

//general headings 
h1, h2, h3{
	color: $brand-secondary;
}
h2:first-of-type{ //page headings
	font-size: $font-size-h1;
	padding-left: 1rem;
}
h1{
	padding-left: 1rem;
}


.ui-widget{
	font-family: $font-family-base !important;
}


// container-fluid max size
#page.container-fluid,
footer > .container-fluid{
  max-width:1480px;
}

///moodle core override
.path-backup .mform .fitem .felement {
  margin-left: 0;
}
#page-mod-assign-grading .quickgradingform {
  clear:both;
}

// form setting heading
textarea{
	@include border-radius($border-radius);
}

.fcontainer{
	.form-inline .form-group{
		vertical-align: top;
	}
	.custom-select{
		margin: 0 1.25rem 0 0;
	}
}
.form-label label, .col-form-label{
	font-weight: 600;
	color: $brand-secondary;
}

select, select.form-control{
	margin: 0.5rem;
	@include transition(background .3s ease-out);
}

// text input
input[type="text"]{
	min-width: 150px;
	@include bloom-input-field($bloom-accent-color);
}
input[type="search"]{
	min-height: 3rem;
	&:active, &:focus{
		border-width: 3px solid $bloom-accent-color;
	}
}

abbr[title], abbr[data-original-title]{ // removes unnecassary decoration from asterisks
	text-decoration: none;
	border-bottom: none;
	margin: 5px;
}

.form-inline .form-group{
	vertical-align: baseline;
}


// FILE PICKER
.fp-navbar{
	padding: 0.8rem;
	background: $blocks-blue;
}
.filepicker-filelist .filepicker-container,
.filemanager.fm-noitems .fm-empty-container{
	top: 1.25rem;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.6rem;
	border: 2px dashed darken($blocks-blue, 10%);
}
.dndupload-arrow{
	position: static;
	margin: 0.6rem 0;
}

.file-picker{ // FILE PICKER DIALOG
	.fp-repo-items{
		border: 1px solid darken($blocks-blue, 10%);
		@include border-radius($border-radius);
		outline: none;
	}
	.fp-navbar{
		border: none;
	}
	.fp-content{
		height: auto;
   		max-height: 380px;
		overflow-x: hidden;
    	overflow-y: auto;
		border: none;
		&:focus, &:active{
			outline: none;
		}
	}
	&:focus, &:active{
		outline: none;
	}
}

.filemanager-toolbar{ // adjustment to ON-PAGE FILE PICKER
	padding: 0;
	margin-bottom: 0.5rem;
}

.fp-toolbar{
	a.btn-secondary{
		background: $bloom-accent-color;
		color: $btn-text-color;
		padding: 0.75rem 0.85rem;
		@include transition(background-color .2s ease-out);
		&:active, &:focus, &:hover{
			outline: none !important;
			background-color: darken($bloom-accent-color, 10%);
		}
		&:before{
			@include bloom-icon-insert( "", $btn-text-color, $font-size-h4, $font-size-h4);
		}
		img{
			filter: brightness(100);
			display: none;
		}
	}
	.fp-tb-back a::before{
		width: 0;
	}
	.fp-btn-add a::before{
		content: $add-file;
	}
	.fp-btn-download a::before{
		content: $download;
	}
	.fp-btn-mkdir a::before{
		content: $add-folder;
	}
	.fp-tb-refresh a::before{
		content: $refresh;
		margin-top: -0.5px;
	}
	.fp-tb-logout a::before{
		content: $logout;
	}
	.fp-tb-manage a::before{
		content: $setting;
	}
	.fp-tb-help a::before{
		content: $help-inverse;
	}
	.fp-tb-search .fp-def-search{
		margin: 0.5rem;
	}
}
.fp-viewbar a.btn-secondary{
	border: 3px solid transparent;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: $border-radius !important;
	@include transition(background-color .2s ease-out, border-color .2s ease-out);
	&:active, &:focus, &:hover{
		outline: none !important;
		background-color: darken($blocks-blue, 10%);
		border: 3px solid darken($blocks-blue, 10%);
	}
	&.checked{
		background: $btn-text-color;
		border: 3px solid darken($blocks-blue, 10%);
		&:hover{
			background-color: darken($blocks-blue, 10%);
			border: 3px solid darken($blocks-blue, 10%);
		}
	}
	img{
		margin: 0;
	}
}

.fp-content{
	.fp-viewbar a.btn-secondary{
		border: 3px solid transparent;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-radius: $border-radius !important;
		@include transition(background-color .2s ease-out, border-color .2s ease-out);
		&:active, &:focus, &:hover{
			outline: none !important;
			background-color: darken($blocks-blue, 10%);
		}
		&.checked{
			background: $btn-text-color;
			border: 3px solid darken($blocks-blue, 10%);
		}
		img{
			margin: 0;
		}
	}
	.fp-file{
		margin: 1rem;
	}
	.fp-filename-field{
		height: auto;
		overflow: visible;
		position: static;
		.fp-filename{
			padding: 0.5rem;
			margin-bottom: 0;
		}
	}
	select[name="license"]{
		// -moz-appearance: none;
		// -webkit-appearance: none;
		margin: 0;
	}
}

.fp-pathbar{
	margin-top: 1rem;
	padding: 0;
	.fp-path-folder{ // fixes the overflown folder icon in file picker
		padding: 3px;
	}
}
.fp-repo-items .fp-pathbar{
	padding: 0 0.8rem;
	margin: 1rem 0;
}


// Moodle dialogue
.moodle-dialogue{
	max-width: 96%;
}
.moodle-dialogue-base .moodle-dialogue-wrap{
	&.moodle-dialogue-content{
		background: $body-bg;
		outline: none;
	}
	h1{ // font size for modal's header
		font-size: $font-size-h3;
	}
	.moodle-dialogue-hd{ // changes the color of the bottom border of modal's header
		border-bottom: 1px solid darken($blocks-blue, 10%);
	}
}

.moodle-dialogue-base .closebutton{
	opacity: 0.7;
	&:hover, &:active, &:focus{
		opacity: 1;
	}
	&:after{ // replaces default close button of modals with bloom icon font
		@include bloom-icon-insert( $cross, $brand-secondary, 24px, $font-size-lg);

	}
}

.modal-in-page{
	.modal-content{
		color: $brand-secondary;
		border: none;
		.modal-header{
			border-bottom: none;
		}
		.modal-footer{
			border-top: none;
			.singlebutton button[type="submit"]{
				margin: 0;
			}
		}
	}
}

a[data-toggle="popover"]{ // removes added height, width, margin from helper icons inherited from .btn
  margin: 0;
  height: auto;
  min-width: 0;
}

.popover{ // styling of popovers
	color: $brand-secondary;
	@include border-left-radius(0);
	font-size: $font-size-base;
	border-left: 5px solid $bloom-accent-color;
	max-width: 300px;
	.popover-arrow {
		border-color: transparent;
	}
}

.dropdown{ // general styling for dropdowns across site
	display: inline-block;
	@include border-radius($border-radius);
	>.dropdown-menu{
		width: 250px;
		margin-top: 6px !important; //test site has margin-top: 2px!important;
		padding: 0;
		border: $border-width solid darken($blocks-blue, 5%);
		border-top: 5px solid $brand-secondary;
		@include border-top-radius(0);
		.dropdown-divider{
			display:none;
		}
		.dropdown-item{
			//temp: icon class is added in the menu-action and breaking the layout
			width: 100%;
		    box-sizing: border-box;
		    height: auto;
		    //
			padding: 1.25rem 1.6rem;
			text-align: left;
			text-transform: none;
			background: transparent;
			@include transition(background .3s ease-out);
			&:hover{
				background: darken($blocks-blue, 5%);
			}
			span{
				color: $brand-secondary; // menu link
				line-height: 1.6rem;
				vertical-align: top;
			}
		}
	}
	.dropdown-toggle{
		&:after{
			border-top: 5px solid $bloom-header-text-color;
		    border-right: 5px solid transparent;
		    border-left: 5px solid transparent;
			@include transition(all .15s ease-out);
		}
		&[aria-expanded="true"]{ // SITE NAVIGATION DROPDOWN expnaded
			&:after{
				border-top-color: $bloom-accent-color;
				transform: rotate(-180deg);
			}
		}
	}
}

body#page-group-index{
	input[name="act_showgroupsettingsform"]{
		@extend .btn-secondary;
	}
}

table{
	margin-bottom: 1.25rem;
	th.header{
		padding: 0.6rem 0.5rem;
		background-color: $blocks-gray;
		border-top: 5px solid $brand-secondary;
	}
	tr{
		@include transition(background-color .25s ease-out);
		td{
			padding: 0.5rem;
		}
	}
}

// .page-header-headings{
// 	h1{
// 		font-size: $font-size-h2;
// 	}
// }



/// MOODLE BUG when flex mode is turned on
// the category management page has Bootstrap 2 (.row-fluid .span5 etc.)
// I'll only apply this fix for this particular page for noe

#page-course-management .row-fluid{
	@include make-row();
}