// cancel button needs to have different style

.btn{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: $font-size-sm;
	//min-height: 3rem;
	line-height: inherit;
	+ .btn{
		margin-left: .5rem;
	}
}

input[type="submit"]:not(.btn-secondary){
	@extend .btn;
	@extend .btn-primary;
}

.fp-navbar,
.fp-viewbar,
.filemanager{
	.btn-secondary,
	&:not(.disabled) a.checked{
		background-color: #fff;
		color: $brand-secondary;
		font-weight: normal;
	}
}

.btn-secondary.view_all{
	margin: auto;
    display: block;
    @include media-breakpoint-up(md) {
    	width: 200px;
	}
}


.info_panel_course_submission{
	padding:0;
}

// Styling of breadcrumb buttons
.breadcrumb-button{
	margin-top: 0;	
	@include media-breakpoint-up(sm) {
		margin-left: .5rem;
		float:right;
	}
	.singlebutton{
		margin-left: 0;		
		@include media-breakpoint-up(sm) {
			+ .singlebutton{
				margin-left: .5rem;
			}
		}
	}
	>a{ //maintenance mode
		@extend .btn;
		@extend .btn-secondary;
		@include btn-icon($fa-var-wrench, "fontawesome");
		@include media-breakpoint-up(sm) {
			float: left;
			+ .singlebutton{
				margin-left: .5rem;
			}
		}
	}
	&:not(.hide-nav){
		@include media-breakpoint-down(sm) {
			display: block;
			width: 100%;
		}
	}
	.forumsearch{
		.form-group{
			display: inline-block;
		}
		input#search{
			display: inline-block;
			width: 160px;
			margin: 0 0.5rem 0 0;
		}
	}
}

body:not(.editing){
	.breadcrumb-button{
		.singlebutton{
			button{				
				@include btn-icon($undo);				
			}
			&:last-child{
				button{
					&:before{
						content: $fa-var-pencil;
					 	font-family: "fontawesome";	
					}
				}
			}
		}
	}
}

body.editing{
	.breadcrumb-button{
		.singlebutton{
			button{				
				@include btn-icon($undo);				
			}
			&:last-child{
				button{
					&:before{
						content: $lock;
					}
				}
			}
		}
	}
}

