// popover needs to be reviewed


#sidenav .navbar-nav .nav-link,
header[role = banner] .navbar-nav .nav-link{ 
	@include bloom-label($font-size-sm, 400, $bloom-header-text-color);
	display: block;
	padding: 1.5rem;
	border-bottom: 5px solid transparent;
	margin-left: 0 !important;
	color: $bloom-header-text-color !important;
	@include transition(border .25s ease-out);
	&:hover{
		border-bottom: 5px solid $bloom-accent-color;
		color: $bloom-header-text-color !important;
	}
}


header[role = banner]{
	#bd-main-nav{
		min-height:$navbar-height; 
	}
	min-height: 3rem;
	padding: 0;
	&:after{ //not sure why it was written like this
		border-top: 5px solid $brand-primary;
		width: 100%;
		margin-bottom: -6px;
		position: relative;
		transform: translateY(-5px);
	}

	&.navbar {
    max-height: initial;
	}
	.navbar-brand, .navbar-toggler, .navigation{
		position: relative;
		z-index: 6;
	}

	// NAVIGATION STYLING
	> .container-fluid{
		max-width:1480px;

		// BURGER menu
		.navbar-toggler{
			padding: 1rem;
			margin: 0.5rem 0 1rem 0;
			border: none;
			color: $bloom-header-text-color;
			&:focus{
				outline: none;
			}
		}
	}
	.nav.navbar-nav{
		display:block;
		position: relative;
		z-index: 5;
		@extend .clearfix;
		.dropdown{
			&.nav-item{
			 	margin-left: 0;
				>.dropdown-menu{  // SITE NAVIGATION dropdown menus
					margin-top: -5px !important; //test site has margin-top: 2px!important;
					border: none;
					border-top: 5px solid $bloom-accent-color;
					background: $brand-primary;
					.dropdown-item{
						overflow: hidden;
						text-overflow: ellipsis;
						padding: 1.25rem 1.6rem;
						color: $bloom-header-text-color;
						&:hover{
							background: darken($brand-primary, 10%);
						}
					}
				}
			}
		}
	}
	// USERMENU
	.usermenu{
		border-radius: $border-radius;
		float: right;
		span:not(.menu-action-text){
			color: $bloom-header-text-color;
		}
		.menubar{
			.usertext{
				line-height: 1rem;
			}

			// USERMENU (containing profile, messages, preferences etc.)
			.dropdown{
				margin-top: -5px;
				@include transition(background .2s ease-out);
				&:before{
					content: "";
					display: inline-block;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid transparent;
					position: absolute;
					bottom: -4px;
					right: 19px;
					@include transition(border-color .2s ease-out);
				}
				&.open{
					background: $bloom-accent-color;
					&:before{
						border-top: 5px solid $bloom-accent-color;
					}
				}
				>a.dropdown-toggle{
					margin: 0 7px;
					&:after{
						display: none; // hide user dropdown arrow
					}
					.avatars{
						display: inline-block;
						margin-left: 0.5rem;
						padding: 5px 0;
						.avatar > img{
							margin: 0;
							border-radius: 50%;
						}
					}
				}
				>.dropdown-menu{ // USERMENU DROPDOWN
					border-top: 5px solid $bloom-accent-color;
					.dropdown-item{						
						&:hover{
							background: darken($blocks-blue, 5%);
						}
					}
				}
			}
		}
	}
	// AVATARS and USERTEXT FIX when logged in as other user
	@at-root .userloggedinas .usermenu{
	 	.menubar{
		.dropdown-menu{
			margin-top: 8px !important;
		}
		.usertext{
			font-size: 0;
			margin-left: 10px;
			.viewingas{
				font-size: $font-size-sm;
				line-height: $font-size-lg;
				display: inline-block;
				transform: translateY(-25%);
				&:before {
					content: '\A';
					white-space: pre;
				}
				.value{
					font-size: $font-size-base;
					&:before{
						content: '\A';
						white-space: pre;
					}
			 	}
			}
		}
		.avatars{
			display: inline-block;
			padding: 3px 0 !important;
			.avatar > img{
				margin: 0;
				border-radius: 50%;
			}
		}
	}
		.userbutton .avatars{
			.avatar{
				&.current{
					display: none;
				}
				&.realuser{
					width: auto;
					height: auto;
					display: inline-block;
					border-radius: 50%;
					vertical-align: middle;
					border: 3px solid $bloom-accent-color;
					background: $bloom-accent-color;
					img.userpicture{
						border-radius: 50%;
						margin:0;
					}
				}
			}
		}
	}

	// Searchbox, notifications, messages
	.navigation{
		float:right;
		margin-top: 9px;
		.popover-region{
			float:left;
			margin-right: 0.5rem;
			text-align: center;
			&.collapsed{
				.popover-region-toggle{
					background: transparent;
					&:after{
						border-top: 5px solid transparent;
					}
				}
			}
			.popover-region-toggle{
				&.nav-link{ // overrides general nav-link style
					padding: 0 !important;
					border-bottom: none;
					&:hover{
						border-bottom: none;
					}
				}
				width: 35px;
				height: 35px;
				padding: 0 8px;
				line-height: 35px;
				background: $bloom-accent-color;
				@include border-radius($border-radius);
				@include transition(background .2s ease-out);
				&:after{
					content: "";
					display: inline-block;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid $bloom-accent-color;
					border-bottom: none;
					position: absolute;
					top: 34px;
					right: 50%;
					transform: translateX(50%);
					z-index: 2;
					@include transition(border-color .2s ease-out);
				}
				&:before{
					border:none;
					position: static;
				}
				&:active, &:focus{
					outline: none;
				}
				img{
					display: none;
				}
			}
			&.popover-region-messages .popover-region-toggle{
				&:before{
					display: inline-block;
					font-family: bloom;
					color: $bloom-header-text-color;
					content: 'c';  // inserts messages icon from bloom icon font
					font-size: 1.6rem;
				}
			}
			&.popover-region-notifications .popover-region-toggle{
				&:before{
					display: inline-block;
					font-family: bloom;
					color: $bloom-header-text-color;
					content: 'd';  // inserts notifications icon from bloom icon font
					font-size: 1.6rem;
				}
			}
			.popover-region-container{
				top: 47px;
				background: $blocks-blue;
				@include border-bottom-radius($border-radius);
				border: $border-width solid darken($blocks-blue, 5%);
				border-top: 5px solid $bloom-accent-color;
				.popover-region-header-container{
					height: 7rem;
					height: auto;
					padding: 1rem 0.5rem;
					line-height: 1rem;
					position: relative;
					border-bottom: $border-width solid darken($blocks-blue, 5%);
					.popover-region-header-text{
						display: block;
						width: 100%;
						line-height: 1rem;
						font-size: $font-size-base;
						font-weight: 900;
						text-transform: uppercase;
						margin-bottom: 1rem;
					}
					img{
						display: none;
					}
				}
				.popover-region-header-actions{
					float: none;
					display: inline-block;
					width: 100%;
					@extend .clearfix;
					.newmessage-link{
						margin: 0;
						float: left;
						a{
							@extend .btn;
							@extend .btn-primary;
							margin: 0 !important;
						}
					}
					.hover-tooltip-container{
						margin-left: 0;
						float: right;
						&:last-of-type{
							float: none;
							position: absolute;
							top: 0.8rem;
							right: 0.5rem;
						}
						a[title="Message preferences"], a[title="Notification preferences"]{
							@include btn-icon($setting);
							color: $body-color;
						}
						a.mark-all-read-button{
							display: inline-block;
							@extend .btn;
							@extend .btn-secondary;
							margin: 0 !important;
							&:after{
								content: "Mark all as read";
								text-decoration: none;
								vertical-align: top;
							}
							.normal-icon{
								@include btn-icon($tick);
								height: 1rem;
								padding-left:1rem;
								&:before{
									top:0;
									left:0;
								}
							}
							.loading-icon{
								img{
									opacity: 1;
								}
							}
						}
					}
				}
				.popover-region-content-container{
					height: calc(100% - 10rem);
				}
				.popover-region-content{
					.content-item-container{
						text-align: left;
						background-color: $blocks-blue;
						border-bottom: $border-width solid darken($blocks-blue, 10%);
						@include transition(background-color .25s ease-out);
						&:hover, &:focus{
							background-color: darken($blocks-blue, 5%);
							color: $body-color;
						}
					}
				}
				.see-all-link{
					display: block;
					vertical-align: middle;
					color: $btn-text-color;
					text-transform: uppercase;
					letter-spacing: 0.5px;
					font-weight: 900;
					text-decoration: none;
					padding: 3px;
					height: 3rem;
				}
				.popover-region-footer-container{
					background-color: transparent;
					padding-top: 0.3rem;
					background-color: $brand-secondary;
					border-top: none;
					@include border-radius($border-radius);
					@include transition(background-color .25s ease-out);
					&:hover{
						background-color: darken($brand-secondary, 10%);
					}
				}
			}
		}
	}
	//random z-index/absolute positioning should be removed from the header later
	//it makes no sense but these are added as a temp solution
	//replacing the core image will be faster than adding css
	.cog-container{
		@extend .pull-right;
		margin-top: 6px;
		margin-right: .5rem;
		z-index: 6;
		position:relative;
		width: 42px;
		height: 42px;
		a{
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: $border-radius;
			@include transition(background-color .25s ease-out);
			&:hover, &:active, &:focus{
				background-color: $bloom-accent-color;
			}
			&:before{
				@include bloom-icon-insert( $setting, $bloom-header-text-color, 42px, 1.6rem);
			}
		}
		img{
			display: none;
		}
	}
}

body:not(.path-login){
	.navigation {
		@extend .collapse;
		@extend .navbar-toggleable-md;
	}
}

// BRAND ADJUSTMENTS
//
a.navbar-brand{
	padding: 0;
	width:20%;
	max-width: 140px;
	.logo{
		img{			
			margin: 0.8rem 0.8rem 0.8rem 0;
			max-height: 32px;			
		}
	}
}


.navbar-inverted{
	background-color: $brand-secondary;
	@extend .navbar-dark;
}

// ADJUSTMENT TO ICONS IN USERMENU (hides default moodle icons and inserts
// icons from bloom_icon_font)
.dropdown-menu a{
	img{
		display: none; // hides default moodle icon
	}
	&:before{
		float: right;
		font-family: bloom;
		color: $body-color;
		font-size: 1.6rem;
		line-height: 1;
		margin-right: 0.5rem;
	}
	&[data-title^="mymoodle"]::before{
		content:"f"; // replacing "dashboard" icon
	}
	&[data-title^="profile"]::before{
		content:"e"; // replacing "profile" icon
	}
	&[data-title^="grades"]::before{
		content:"2"; // replacing "grades" icon
	}
	&[data-title^="messages"]::before{
		content:"c"; // replacing "messages" icon
	}
	&[data-title^="preferences"]::before{
		content:"0"; // replacing "account preferences" icon
	}
	&[data-title^="logout"]::before{
		content:"b"; // replacing "logout" icon
	}
}
