.path-user{
  .userprofile .profile_tree .node_category{
    background: $blocks-blue;
    @include border-radius($border-radius);
    h3{
      @include bloom-label($font-size-h6, 900, $brand-secondary);
      border-bottom: 3px solid $brand-secondary;
      text-align: left;
      padding: 0 1.25rem 0.4rem 0;
    	display: inline-block;
    	margin-bottom: 1.25rem;
    }
    ul{
      position: relative;
      padding-bottom: 2.5rem;
    }
  }

  .editprofile{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 0;
    span{
      a{
        @extend .btn;
        @extend .btn-secondary;
        margin: 0;
        color: $btn-text-color;
        display: inline-block;
        &:before{
          @include bloom-icon-insert( $setting, $btn-text-color, $font-size-lg, $font-size-base);
          vertical-align: text-top;
          margin-right: 3px;
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }

}
