//don't know what this is about

#page-admin-setting-themesettingbloom{
  .settingsform{
    padding: 15px;
    // h2{
    //   font-weight: normal;
    // 	color: $brand-secondary;
    //   font-size: $font-size-h1;
    // }
    .form-item{
      // background: $blocks-blue;
      // @include border-radius($border-radius);
      // margin-top: 15px;
      // margin-bottom: 15px;
      padding-top: 1rem;
      padding-bottom:1rem;
      .form-label{
        .form-shortname{
          display: none !important;
        }
        label{
          font-size: $font-size-h5;
        }
      }
      .form-setting{
        .form-description{
          background: $blocks-blue;
          color: lighten($gray-dark, 30%);
          padding: 1rem;
          @include border-radius($border-radius);
          p{
            margin:0;
          }
        }
      }
    }
  }
}
