#sidenav {
	height: 100vh;
	width: 100%;
	z-index: 4031; //moodle core sets z-index of fixed header to be 4030
	position:fixed;
	top:0;
	background-color: rgba(0, 0, 0, 0);
	@include transition(all .3s ease-in);

	@extend .hidden-lg-up;
	nav {
		position: relative;
		background-color: $gray-dark;
		height: 100vh;
		width: 80%;
		max-width: 300px;
		float: right;
		z-index: 2;
		.nav-link {
			float: none;
			width: 100%;
		}
	}
	&.out {
		right: -100%;
	}
	&.in {
		right: 0;
		background-color: rgba(0, 0, 0, 0.30);
	}
	.overlay{
		width:100%;
		height:100%;
	}
	.count-container{
		position: inherit;
		display: inline;
		float: right;
		padding: .3rem;
	}
	.dropdown{
		display: block;
	}
	.dropdown-menu { // general styling
		position: relative;
		width: 100%;
		margin: 0 !important; //test site has margin-top: 2px!important;
		padding: 0;
		float: none;
		border: none;
		border-radius: 0;
	}
	.navbar-nav{
		.nav-item{
			float: none;
			margin: 0;
			.dropdown-toggle{
				&[aria-expanded="true"]{ // SITE NAVIGATION DROPDOWN expnaded
					border-bottom: 5px solid $bloom-accent-color;
				}
			}
			.dropdown-menu { // SITE NAVIGATION DROPDOWN
				background: $brand-primary;
				.dropdown-item{
				 	color: $bloom-header-text-color;
					@include transition(background .3s ease-out);
					&:hover{
						background: darken($brand-primary, 10%);
					}
				}
			}
		}
		.nav-link{
			float:none;
			&.btn-logout{
				&:before{
					content:$fa-var-sign-out;
					font-family: FontAwesome;
					margin-right: 7px;
				}
			}
		}
	}

	.usermenu{
		float: none;
		clear:both;
		width:100%;
		.login{
			margin-left: 1.25rem;
		}
		.dropdown {
			.dropdown-toggle {
				position: relative;
				display: block;
				padding: 0.5rem;
				margin: 0.5rem 0 0 0.5rem;
				max-width: 200px;
				@include border-radius($border-radius);
				@include transition(background .25s ease-out);
				&:after{
					border-top: 5px solid transparent;
					position: absolute;
					margin: 0;
					top: 48px;
					left: 23px;
				}
				&[aria-expanded="true"]{ // SITE NAVIGATION DROPDOWN expnaded
					background: $bloom-accent-color;
					&:after{
						border-top: 5px solid $bloom-accent-color;
						transform: none;
					}
				}
				@at-root .userloggedinas{ // arrow position adjustment when logged in as different user
					#sidenav .usermenu .dropdown .dropdown-toggle{
						.usertext{
							left: 3.5rem;
						}
						.avatars{
							padding: 0;
						}
						&:after{
							top: 59px;
							left: 26px;
						}
					}
				}
				.usertext{
					color: $bloom-header-text-color;
					position: absolute;
					left: 5rem;
					width: 180px;
					display: inherit;
					font-size: $font-size-sm;
					line-height: $font-size-base;
					text-align: left;
					float: none;
					.viewingas{
						display: inline;
						font-size: $font-size-sm;
						line-height: $font-size-base;
						&:before {
							content: '\A';
	    				white-space: pre;
						}
						.value{
							font-size: $font-size-sm;
							&:before{
								content: '\A';
								white-space: pre;
							}
						}
					}
				}
			}
			.dropdown-menu{
				border-top: 5px solid $bloom-accent-color;
				margin-top: 1rem;
				.dropdown-item{
					&:last-child,
					&:first-child{
						display: none; //duplicates
					}
				}
			}
		}
		.avatars{
			margin-left: 0;
			.avatar.current img{
				margin: 0;
				border-radius: 50%;
			}
		}
	}
	.navbar-toggler{
		position: absolute;
		top: 0.8rem;
   		right: 0.8rem;
		z-index: 3;
		height: 2.5rem;
		width: 2.5rem;
		color: $bloom-header-text-color;
	}
	.search-input-wrapper-custom {
		@extend .expanded;
		float: none;
		margin: 0;
		width: 100%;
		>div[role=button]{
			display:none;
		}
		.search-input-form {
			width: 90%;
			margin: 5%;
			input[type=text]{
				width:100%;
			}
		}
	}
}

.navbar-toggler{
	@extend .pull-xs-right;
	@extend .hidden-lg-up;
}
