    {{#children}}
        {{^divider}}
            {{#url}}
                <li class="nav-item"><a class="nav-link" href="{{{url}}}" title="{{{title}}}" target="_blank">{{{text}}}</a></li>
            {{/url}}
            {{^url}}
                <li>{{{text}}}</li>
            {{/url}}
        {{/divider}}
        {{#haschildren}}
            <ul class="list-unstyled m-l-1">
                {{> theme_bloom/custom_menu_footer }}
            </ul>
        {{/haschildren}}
    {{/children}}
