<div id="sidenav" class="out">
    <nav class="nav navbar-nav">
        <button class="navbar-toggler"  type="button"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">{{#str}}expand{{/str}}</span></button>

        <!-- user_menu -->
        {{{ output.user_menu }}}

        <!-- search_box -->
        {{{ output.search_box }}}

        <!-- custom_menu -->
        {{{ output.custom_menu }}}

        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}

        {{{# output.logout_url }}}
        {{{ output.logout_url }}}
        {{{/ output.logout_url }}}

    </nav>
    <div class="overlay"></div>
</div>