{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header role="banner" class="navbar navbar-full navbar-inverted navbar-fixed-top moodle-has-zindex">
    <div class="container-fluid">
        <a role="banner" href="{{{ config.wwwroot }}}" class="navbar-brand">
            <div class="logo">
                {{#output.get_logo_url }}
                    <img src="{{ output.get_logo_url }}" alt="{{sitename}}" class="hidden-xs-down">
                {{/output.get_logo_url}}

                {{#output.get_logocompact_url }}
                    <img src="{{ output.get_logocompact_url }}" alt="{{sitename}}" class="hidden-sm-up">
                {{/output.get_logocompact_url}}
            </div>
        </a>
        


        <div class="navigation">
            <!-- search_box -->
            {{{ output.search_box }}}

            <!-- navbar_plugin_output -->
            {{{ output.navbar_plugin_output }}}

            <!-- user_menu -->
            {{{ output.user_menu }}}
        </div>

        <button class="navbar-toggler" type="button">☰<span class="sr-only">{{#str}}expand{{/str}}</span></button>

        {{# output.show_cog }}
           {{{ output.show_cog }}}
        {{/ output.show_cog }}

        <div class="collapse navbar-toggleable-md" id="bd-main-nav">
            <nav class="nav navbar-nav">
                <!-- custom_menu -->
                {{{ output.custom_menu }}}
                <!-- page_heading_menu -->
                {{{ output.page_heading_menu }}}
            </nav>
        </div>
    </div>
</header>

 {{>theme_bloom/drawer-right}}