{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_qmul/backpack_modules
}}
<ul class="nav nav-tabs mb-1 moduletabs" id="myTab" role="tablist">
    <li class="nav-item tab">
        <a class="nav-link link pinnedlink{{#pinnedmodules}} active{{/pinnedmodules}}" data-toggle="tab" href="#pinnedmodules" role="tab" aria-controls="pinnedmodules">{{#str}}pinnedmodules, theme_qmul{{/str}}</a>
    </li>
    <li class="nav-item tab">
        <a class="nav-link link{{^pinnedmodules}} active{{/pinnedmodules}}" data-toggle="tab" href="#allmodules" role="tab" aria-controls="allmodules">{{#str}}mymodules, theme_qmul{{/str}}</a>
    </li>
    <li class="nav-item tab">
        <a class="nav-link link btn" href="{{allmoduleslink}}" role="tab">{{#str}}allmodules, theme_qmul{{/str}}</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane modules{{#pinnedmodules}} active{{/pinnedmodules}}" id="pinnedmodules" role="tabpanel">
        <div class="row pinnedmodules">
        {{#pinnedmodules}}
            {{> theme_qmul/pinnedmodule }}
        {{/pinnedmodules}}

        {{^pinnedmodules}}
            <div class="col-12 nopins">
                {{#str}}nopinnedmodules, theme_qmul{{/str}}
            </div>
        {{/pinnedmodules}}
        </div>
    </div>
    <div class="tab-pane allmodules modules{{^pinnedmodules}} active{{/pinnedmodules}}" id="allmodules" role="tabpanel">
        {{#mymodules}}
            {{> theme_qmul/module }}
        {{/mymodules}}
        {{#moremodules}}
            <a href="javascript://void(0)" data-currentloaded="{{currentloaded}}" data-userid="{{userid}}" class="btn btn-primary loadmore">{{#str}}loadmore, theme_qmul{{/str}}</a>
        {{/moremodules}}

        {{^mymodules}}
            {{#str}}notenrolled, grades{{/str}}
        {{/mymodules}}
    </div>
</div>