{{!
    @template theme_boost/block

    Example context (json):
    {
        "id": "block0",
        "showskiplink": true,
        "type": "html",
        "ariarole": "complementary",
        "title": "Test block",
        "blockinstanceid": 1,
        "content": "<p>Hello block world!</p>"
    }

}}
{{! Block Skip Link }}
{{#showskiplink}}
  <a href="#sb-{{skipid}}" class="sr-only sr-only-focusable">{{#str}}skipa, access, {{title}}{{/str}}</a>
{{/showskiplink}}

{{! Start Block Container }}
<aside id="{{id}}"
     class="{{#hidden}}hidden{{/hidden}} block block_{{type}} {{#hascontrols}}block_with_controls{{/hascontrols}} card"
     role="{{ariarole}}"
     data-block="{{type}}"
     {{#arialabel}}
        aria-label={{#quote}}{{{arialabel}}}{{/quote}}
     {{/arialabel}}
     {{^arialabel}}
        {{#title}}
          aria-labelledby="instance-{{blockinstanceid}}-header"
        {{/title}}
     {{/arialabel}}>

    {{! Block contents }}
    <a href="#open" data-block="{{id}}" class="initial" data-toggle="tooltip" data-placement="right" title="{{{initialtitle}}}">
      <span>{{{initial}}}</span>
    </a>
    <div class="header card-header mb-0">
        <div class="block-controls header text-left">
            {{{controls}}}
        </div>

        {{! Block header }}
        {{#title}}
            <div class="d-block {{#collapsed}}toggle collapsed{{/collapsed}}" href="#content_{{id}}" {{#collapsed}}data-parent="#block-region-side-pre" data-toggle="collapse" aria-expanded="false" aria-controls="content_{{id}}"{{/collapsed}}>
                <h2 id="instance-{{blockinstanceid}}-header" class="card-title">{{{title}}}</h2>
            </div>
        {{/title}}
    </div>
    <div class="body card-block {{#collapsed}}collapse{{/collapsed}} p-0" id="content_{{id}}">
        <div class="card-text content px-2 pb-2 pt-0">
            {{{content}}}
            <div class="footer">
                {{{footer}}}
            </div>
            {{{annotation}}}
        </div>
    </div>

{{! End Block Container }}
</aside>

{{! Block Skip Link Target }}
{{#showskiplink}}
  <span id="sb-{{skipid}}"></span>
{{/showskiplink}}
