{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_qmul/module
}}
<div class="module mb-1 text-white {{#invisible}}notvisible{{/invisible}} {{#pinned}}pinned{{/pinned}}" data-userid="{{userid}}" data-invisible="invisible" data-state="{{#pinned}}1{{/pinned}}{{^pinned}}0{{/pinned}}" data-courseid="{{id}}" {{#overviewfile}}data-overviewfile="{{overviewfile}}"{{/overviewfile}} data-name="{{fullname}}" data-categoryname="{{categoryname}}" data-warning="{{warning}}" data-url="{{url}}">
    <a href="#" class="pincourse {{#pinned}}pinned{{/pinned}}"></a>
    <h5 class="name"><a class='text-white' title="Landing Page" href="{{url}}">{{fullname}}</a></h5>
    <h6 class="category">{{categoryname}}</h6>
    {{#warning}}
        <div class="mt-12 warning card bg-warning card-block p-12">
            <small>
            {{{warning}}}
            </small>
        </div>
    {{/warning}}
    {{#overview}}
        <a class="collapsebtn" data-toggle="collapse" data-target="#collapse-course-{{id}}" aria-expanded="false"></a>
        <div class='overview collapse py-1' id='collapse-course-{{id}}'>
            {{#overviews}}
                <div class='activity_info pb-1'>
                    <div class='activity_overview'>
                        {{{icontext}}}
                    </div>
                </div>
            {{/overviews}}
        </div>
    {{/overview}}
</div>