.widgets-available {
    display: inline-block;
    border: 1px solid #ccc;
    background-image: url([[pix:core|t/add]]);
    background-repeat: no-repeat;
    background-position: top 9px right 10px;
}
.maxreached .widgets-available {
    background-image: none;
    cursor: default;
}

.widgets-availableholder .widgets-available.inuse {
    background-image: url([[pix:core|t/check]]);
    background-color: #72bbf1;
    cursor: pointer;
}

.widgets-availableholder .widgets-available.loading {
    background-image: url([[pix:core|i/ajaxloader]]);
}

.nowidgets {
    display: none;
}
.nowidgets.show {
    display: block;
}

.widgets-widget {
    border: 1px solid #ccc;
}

.widget-title {
    text-transform: uppercase;
    font-size: 110%;
    font-weight: bold;
}
.widget-body ul {
    padding: 0;
    margin: 0;
}
.widget-body .widget-item {
    list-style-type: none;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 3px;
    margin-top: 5px;
}
.widget-footer {
    margin-top: 5px;
}
.widgets-maxwarning {
    display: none;
}
.maxreached .widgets-maxwarning {
    display: block;
}
