/** Tables **/

@mixin make-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    margin-top: auto;
}


/** Glyphicons **/

@mixin make-glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 20px;
}


/** Badges **/

@mixin make-badge {
    display: inline-block;
    padding: $badge-padding-y $badge-padding-x;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    line-height: 1;
    color: $badge-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius();
}


/** Alerts **/

@mixin make-alert {
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    border: $alert-border-width solid transparent;
    @include border-radius($alert-border-radius);
}


/** Forms **/

@mixin make-form-control {
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-base;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $input-bg;
    background-image: none;
    background-clip: padding-box;
    border: $input-btn-border-width solid $input-border-color;
    @if $enable-rounded {
        border-radius: $input-border-radius;
    }
    @else {
        border-radius: 0;
    }
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);
    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }
    @include form-control-focus();
    &::placeholder {
        color: $input-color-placeholder;
        opacity: 1;
    }
    &:disabled,
    &[readonly] {
        background-color: $input-bg-disabled;
        opacity: 1;
    }
    &:disabled {
        cursor: $cursor-disabled;
    }
}


/** Buttons **/

@mixin make-button {
    display: inline-block;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    max-width: 100%;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    box-shadow: $btn-box-shadow;
    border: $input-btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
    @include transition($btn-transition);
    @include hover-focus {
        text-decoration: none;
    }
}


/** Cards **/

@mixin make-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $card-bg;
    border: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);
}

@mixin make-card-header {
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    background-color: $card-cap-bg;
    border-bottom: $card-border-width solid $card-border-color;
}

@mixin make-card-block {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    padding: $card-spacer-x;
}


/** Legacy **/

@mixin make-well {
    border-radius: 0;
    @include box-shadow(none);
}
