{{!
    @template local_qmcw_coversheet/update_grade

    Loads small snippet that outs the current grade to the user on the grade form

}}



<div id="scandetails" class="">
<h2 class="header">Submission Grade Update</h2>
<div>{{{notification}}}</div>
<div>{{currentgrade}}</div>


