{{!
    @template local_qmcw_coversheet/update_grade

    Loads small snippet that outs the current grade to the user on the grade form

}}

<div class="scan-results fitem fitem_fgroup ">
<dl>
<dt><b>{{# str}} srd-grade, local_qmcw_coversheet {{/ str}}</b></dt><dd id="currentgrade">{{ currentgrade }}</dd>
</dl>
</div>