{{!
  Render a single widget, see main.mustache for an example of the expected data.
}}
<div class="{{classes}} col-12 col-lg-6 mb-2" id="{{id}}">
    <div class="card rounded-0 widget-card">
        <div class="card-block widget-card-block">
            <div class="widget-title card-title">{{title}}</div>
            <div class="widget-body">
                <ul>
                    {{#items}}
                        <li class="widget-item">{{{.}}}</li>
                    {{/items}}
                </ul>
            </div>
        </div>
        {{#footer}}
            <div class="widget-footer card-footer">
                {{{.}}}
            </div>
        {{/footer}}
    </div>
</div>
