.alert {
    position: relative;
    padding-right: 40px;
    .close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0;
        line-height: 20px;
        display: block;
        font-size: 32px;
    }
}

.alerts {
    margin-top: 0;
    margin-bottom: 0;
    .useralerts {
        margin-bottom: 16px;
        margin-top: 10px;
        span.title {
            font-weight: bold;
            padding-right: 5px;
        }
        span.body {
            display: block;
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}
