.block-region {
    &#block-region-side-post {
        .body.card-block.collapse {
            display: block;
        }
        .block > .header {
            //background: $brand-qmul;
        }
    }
    .block {
        margin-bottom: 1.5rem;
        background-color: $block-bg;
        text-align: left;
        border-radius: 0;
        .initial {
            display: none;
        }
        &.block_widgets {
            background: transparent;
            .header {
                body:not(.editing) & {
                    display: none;
                }
            }
            .btn-primary {
                @include button-variant($btn-primary-color, $brand-qmul, $brand-qmul);
            }
            a {
                color: $brand-qmul;
            }
            .text-primary {
                color: $brand-qmul !important;
            }
        }
        &.invisible {
            border-color: lighten($block-border, 5%);
            .header {
                background-color: lighten($block-heading-bg, 5%);
                h2 {
                    color: lighten($block-text, 20%);
                }
            }
        }
        > .header {
            background-color: $block-heading-bg;
            border: none;
            border-radius: $block-border-radius;
            h2 {
                color: $block-heading-color;
                margin: 0;
                font-size: $font-size-h5;
                font-weight: bold;
                text-transform: uppercase;
            }
            &:empty {
                display: none;
            }
            .block-controls {
                .dropdown-toggle:after {
                    display: none;
                }
                .dropdown-menu {
                    box-shadow: $popover-box-shadow;
                    a span {
                        font-family: $font-family-sans-serif;
                        color: $block-text;
                    }
                }
                .icon:not(.glyphicon) {
                    @extend .hidden;
                }
            }
            .glyphicon {
                color: $block-heading-color;
            }
            .moodle-core-dragdrop-draghandle {
                color: $block-heading-color;
                &:before {
                    @include make-glyphicon();
                    content:"\E187";
                }
                img.hidden {
                    position: static;
                }
                .glyphicon {
                    display: none;
                }
            }
            .menu .dropdown-item {
                .glyphicon {
                    color: $block-text;
                }
            }
        }
        .content {
            color: $block-text;
            hr {
                margin: 5px 0;
                border-color: transparent;
            }
            input:not([type='submit']),
            select,
            textarea {
                background-color: $body-bg;
            }
            table {
                display: block;
                @include media-breakpoint-up(sm) {
                    display: table;
                }
            }
            iframe {
                max-width: 100%;
            }
        }
        .footer {
            background: $block-footer-bg;
        }
        .blockannotation {
            font-size: $font-size-xs;
            margin: -1em 0 1em;
        }
        .singleselect select {
            background-image: url("data:image/svg+xml,%3Csvg width='62px' height='28px' viewBox='0 0 62 28' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpolygon fill='${brand-primary}' points='0 0 62 0 31 28'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
        }
        &.block_calendar_month .content table {
            display: table;
        }
        &.block_navigation .block_tree {
            li {
                background-repeat: no-repeat;
                background-position: 0px 0.5rem;
            }
            .tree_item {
                &.hasicon {
                    .item-content-wrap {
                        max-width: 100%;
                    }
                }
                img {
                    position: absolute;
                }
            }
        }
        .block_tree {
            .tree_item {
                a:focus {
                    outline: none;
                }
            }
        }
        &.block_settings .block_tree,
        &.block_navigation .block_tree,
        .jsenabled &.block_navigation .block_tree {
            li > p {
                position: relative;
                &.hasicon {
                    text-indent: 0;
                    padding-left: 25px;
                }
                i.glyphicon {
                    top: 3px;
                    left: 3px;
                    position: absolute;
                    text-indent: 0;
                    color: $gray-dark;
                }
            }
            ul {
                margin-left: 0;
                padding-left: .5rem;
            }
            li.item_with_icon {
                > p img {
                    top: 0px;
                    margin-left: -21px;
                }
            }
            li.contains_branch {
                .tree_item.branch:not(.navigation_node) {
                    background-position: 0 3px;
                    background-image: none;
                    padding-left: 25px;
                    &:before {
                        @include make-glyphicon;
                        @extend .glyphicon-chevron-right;
                        min-width: 12px;
                        width: 12px;
                        height: 12px;
                        left: 4px;
                        position: absolute;
                        top: 3px;
                        transform: rotate(90deg);
                        transition: transform 0.3s;
                    }
                    &.loading {
                        @extend .glyphicon-refresh;
                        &:before {
                            @extend .glyphicon.spin;
                            width: 16px;
                            height: 16px;
                            text-align: center;
                            line-height: 16px;
                        }
                    }
                    &[aria-expanded=false] {
                        &:before {
                            //content: '\E224';
                            transform: rotate(0deg);
                            top: 3px;
                            left: 4px;
                        }
                    }
                }
            }
        }
        .blogsearchform div {
            position: relative;
            display: flex;
            flex: 0 0 100%;
            #blogsearchquery,
            #blogsearchquery + [type='submit'] {
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
            }
            [type='submit'] {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
            .ie10 & #blogsearchquery {
                max-width: 140px;
            }
        }
        &#mod_quiz_navblock .singlebutton button {
            @extend .btn-primary;
        }
        &.block_people .participants h3 {
            font-size: $font-size-base;
        }
    }
}

.blockmovetarget,
.block.beingmoved {
    border-width: 2px;
    border-style: dashed;
}

.blockmovetarget {
    display: block;
    height: 1em;
    margin-bottom: 1em;
}

.block .block-hider-show,
.block .block-hider-hide {
    cursor: pointer;
}

.block .block-hider-show,
.block.hidden .block-hider-hide,
.block .block-show,
.block.hidden .block-hide {
    display: none;
}

.block.hidden .block-hider-show,
.block.hidden .block-show {
    display: inline;
}

.block.hidden .content {
    display: none;
}

.block_calendar_upcoming {
    .content {
        .event {
            position: relative;
            padding-left: 26px;
            > .icon {
                position: absolute;
                left: 0;
            }
            > a {
                width: 100%;
                display: inline-block;
                clear: right;
            }
        }
        .date {
            @include make-badge;
            @extend .badge-info;
            @extend .glyphicon-clock;
            text-align: left;
            padding-left: 25px;
            position: relative;
            display: inline-block;
            white-space: normal;
            padding: .5rem .5rem .5rem 1.5rem;
            color: lighten($brand-info, 35%);
            &:before {
                @include make-glyphicon;
                min-width: 25px;
                position: absolute;
                left: 0px;
                top: .5rem;
                text-align: center;
            }
            a {
                color: #fff;
            }
        }
    }
    .footer {
        .gotocal,
        .newevent {
            color: transparent;
            display: inline-block;
            a {
                @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
                @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
            }
        }
    }
}

.block_rss_client {
    .content li {
        border-top: 1px solid $abbr-border-color;
    }
}

.block_myprofile {
    .content {
        .myprofileitem {
            padding-left: 35%;
            &.picture {
                float: left;
                width: 35%;
                padding-right: 10px;
                padding-left: 0;
                background: transparent;
                border: none;
                img {
                    border-radius: 50%;
                    max-width: 100%;
                }
            }
        }
        .email {
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    }
}

.block_course_overview {
    .content {
        margin: 0;
        .coursebox {
            @include make-card;
            margin-bottom: .5rem;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
            .course_title {
                @include make-card-header;
                padding: 1rem;
                .title {
                    float: left;
                    margin: 0;
                    position: relative;
                    font-size: 1rem;
                    line-height: 100%;
                }
            }
            .activity_info {
                @include make-card-header;
                padding: 1rem;
                background-color: #fff;
                .activity_overview {
                    padding: 0;
                    margin-bottom: .5rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .collapsibleregion {
                        min-height: 100%;
                        padding: 0;
                        margin: 0;
                        &.collapsed {
                            .collapsibleregioncaption:after {
                                transform: rotate(0deg);
                            }
                        }
                        .collapsibleregioncaption {
                            margin-bottom: .5rem;
                            &:after {
                                @include make-glyphicon;
                                content: "\E224 ";
                                color: $brand-primary;
                                min-width: auto;
                                vertical-align: text-top;
                                transform: rotate(90deg);
                                transition: transform .6s ease;
                            }
                            img.iconlarge {
                                vertical-align: middle;
                                width: 1rem;
                                height: 1rem;
                                margin-right: .5rem;
                            }
                        }
                        .collapsibleregioninner {
                            margin-top: .5rem;
                        }
                    }
                    .overview {
                        margin: .5rem .5rem .5rem 1.5rem;
                    }
                }
            }
        }
    }
    .move {
        .editing & {
            padding: 0;
            margin-right: .5rem;
            margin-top: -3px;
        }
        img {
            background-color: #fff;
            border-radius: 50%;
            padding: 3px;
            margin: 0;
        }
    }
}

.block_news_items .content {
    .newlink {
        padding-bottom: 10px;
    }
    ul li {
        border-top: 1px solid $blockquote-border-color;
        padding: 2px;
        display: table;
        width: 100%;
        .info {
            display: table-header-group;
        }
        .date {
            font-size: $font-size-sm;
            display: inline;
        }
        .name {
            font-size: $font-size-sm;
            padding-left: 1ex;
            display: inline;
        }
    }
}

#page-block-quickmail {
    form.mform {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.block_online_users .content .list li.listentry .user .userpicture {
    vertical-align: middle;
}
