//* calendar.less */
.calendar_event_course,
.calendar_event_global,
.calendar_event_group,
.calendar_event_user {
    border-bottom: 3px solid;
    a {
        color: $gray-dark;
    }
}

.calendar_event_course {
    border-color: $calendar-event-course-color;
}

.calendar_event_global {
    border-color: $calendar-event-global-color;
}

.calendar_event_group {
    border-color: $calendar-event-group-color;
}

.calendar_event_user {
    border-color: $calendar-event-user-color;
}

.yui3-calendar-header-label {
    display: inline-block;
}

#dateselector-calendar-panel {
    background: none;
    .yui3-calendar-content {
        border: 1px solid rgba(0,0,0,.1);
        background: $card-cap-bg;
        color: $text-color;
        .yui3-calendar-header {
            display: block;
            text-align: center;
            .yui3-calendarnav-nextmonth, .yui3-calendarnav-prevmonth {
                @include make-glyphicon;
                border: none;
                font-size: 1em;
                color: $gray-dark;
                width: 25%;
                top: 3px;
                float: right;
                &:before {
                    content: "\e224";
                }
            }
            .yui3-calendarnav-prevmonth {
                float: left;
                &:before {
                    content: "\e225";
                }
            }
            .yui3-calendar-header-label {
                width: 50%;
            }
        }
        .yui3-calendar-weekday {
            text-decoration: underline;
        }
        .yui3-calendar-day {
            &:hover, &-selected {
                background-color: $brand-inverse;
                color: #ffffff;
            }
        }
        .yui3-calendar-day, .yui3-calendar-prevmonth-day, .yui3-calendar-nextmonth-day {
            border: none;
        }
        th{
            border: none;
        }
    }
}

// Calendar restyling.
.path-calendar {
    .calendartable {
        width: 100%;
        th,
        td {
            width: 14%;
            vertical-align: top;
            text-align: center;
            border: 0;
        }
    }
    .calendar-controls {
        .previous,
        .next,
        .current {
            display: block;
            float: left;
            width: 12%;
        }
        .previous {
            text-align: left;
        }
        .current {
            text-align: center;
            width: 76%;
        }
        .next {
            text-align: right;
        }
    }
    .filters {
        table {
            border-collapse: separate;
            border-spacing: 2px;
            width: 100%;
        }
        span.calendar_event_course,
        span.calendar_event_global,
        span.calendar_event_group,
        span.calendar_event_user {
            border-radius: 50%;
            border: 1px solid $gray-light;
            height: 25px;
            width: 25px;
            display: inline-block;
            margin-right: .5rem;
            text-align: center;
        }
    }
    .cal_courses_flt {
        label {
            margin-right: .45em;
        }
    }
    .maincalendar {
        vertical-align: top;
        padding: 0;
        .bottom {
            text-align: center;
            padding: 5px 0 0 0;
        }
        .heightcontainer {
            height: 100%;
            position: relative;
            > h2 {
                margin-top: 0;
            }
        }
        .calendarmonth {
            width: 98%;
            margin: 10px auto;
        }
        .calendartable {
            &.calendarmonth {
                ul {
                    margin: 0;
                    padding: 0;
                    clear: both;
                    li {
                        list-style-type: none;
                        margin-top: 4px;
                        margin-left: 0;
                        padding: 0;
                        border: none;
                        word-wrap: break-word;
                        > a {
                            padding: 10px;
                            margin-left: -10px;
                            margin-right: -10px;
                            display: block;
                        }
                        &.calendar_event_course {
                            > a {
                                background-color: $calendar-event-course-color;
                            }
                        }
                        &.calendar_event_global {
                            > a {
                                background-color: $calendar-event-global-color;
                            }
                        }
                        &.calendar_event_group {
                            > a {
                                background-color: $calendar-event-group-color;
                            }
                        }
                        &.calendar_event_user {
                            > a {
                                background-color: $calendar-event-user-color;
                            }
                        }
                    }
                }
                .header {
                    background: $gray-lighter;
                    border: 1px solid $gray-lighter;
                    padding: 10px;
                }
                tbody {
                    border-bottom: 1px solid $gray-lighter;
                }
                td {
                    height: 5em;
                    border: none;
                    padding: 10px;
                    border-left: 1px solid $gray-lighter;
                    border-right: 1px solid $gray-lighter;
                    text-align: left;
                    .day {
                        display: block;
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        line-height: 25px;
                        margin-bottom: 10px;
                        float: right;
                        @extend .clearfix;
                        a {
                            display: block;
                            width: 25px;
                            height: 25px;
                            padding: 5px;
                            line-height: 15px;
                        }
                    }
                    &.today {
                        .day,
                        a {
                            background-color: $gray-lightest;
                            color: $text-color;
                        }
                    }
                }
            }
        }
        .controls {
            width: 100%;
            margin: 1rem 0;
        }
        .calendar_event_course,
        .calendar_event_global,
        .calendar_event_group,
        .calendar_event_user {
            border-width: 1px 1px 1px 12px;
            border-style: solid;
            .glyphicon {
                color: $gray-dark;
                top: 2px;
                left: 0;
                text-align: center;
            }
            a {
                line-height: normal;
            }
        }
        .calendar_event_course {
            border-color: $calendar-event-course-color;
        }
        .calendar_event_global {
            border-color: $calendar-event-global-color;
        }
        .calendar_event_group {
            border-color: $calendar-event-group-color;
        }
        .calendar_event_user {
            border-color: $calendar-event-user-color;
        }
        .calendar-event-panel {
            background-color: $gray-lighter;
            border: 2px solid darken($gray-lighter, 15%);
            .yui3-overlay-content {
                padding: 19px;
                background-color: lighten($card-bg, 3%);
                border: 1px solid darken($card-bg, 7%);
                border-radius: $border-radius;
                @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
            }
        }
        .calendar-controls {
            width: 100%;
            position: relative;
            a.arrow_link {
                width: 20%;
                padding: 0;
                box-sizing: content-box;
                text-align: center;
                display: inline-block;
                background-color: transparent;
                line-height: 1.5rem;
                &.previous {
                    left: 0;
                }
                &.next {
                    right: 0;
                }
                .arrow {
                    font-family: sans-serif;
                }
            }
            .current {
                font-family: inherit;
                font-weight: 500;
                color: inherit;
                font-size: 1.5rem;
                line-height: 1.5rem;
                width: 60%;
                text-align: center;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .calendartable {
            td,
            li {
                padding: 5px;
            }
            li {
                padding-left: 10px;
                text-align: left;
            }
        }
        .header {
            overflow: hidden;
            padding: 2px;
            .buttons {
                float: right;
            }
        }
        .eventlist {
            margin-top: 15px;
            .event {
                margin-bottom: 20px;
                a.dimmed {
                    color: #fff;
                }
            }
        }
    }
}

// RTL overrides for main calendar.
.dir-rtl.path-calendar {
    .cal_courses_flt {
        label {
            margin-left: .45em;
            margin-right: 0;
        }
    }
    .maincalendar {
        .calendar_event_course,
        .calendar_event_global,
        .calendar_event_group,
        .calendar_event_user {
            border-left-width: 1px;
            border-right-width: 12px;
        }
        .calendar-controls {
            .next {
                text-align: left;
            }
            .previous {
                text-align: right;
            }
        }
        .sticky-wrap {
            margin-top: 0;
        }
        .calendartable {
            td,
            li {
                text-align: right;
            }
            li {
                padding-right: 10px;
                padding-left: 5px;
            }
        }
        .header {
            .buttons {
                float: left;
            }
        }
        .eventlist {
            .event {
                .topic {
                    .name {
                        float: right;
                    }
                    .date {
                        float: left;
                    }
                }
                .description {
                    .commands {
                        right: inherit;
                        left: 0;
                    }
                }
                .course,
                .subscription {
                    float: right;
                    clear: right;
                }
            }
        }
    }
}

// Calendar export.
#page-calendar-export {
    .indent {
        padding-left: 20px;
    }
}

// Block minicalendar.
.block-region .block.block_calendar_month {
    th,
    td {
        border: none;
        vertical-align: middle;
        > a {
            padding: 3px 5px;
            border-bottom: 2px solid $gray;
        }
        &.calendar_event_course {
            > a {
                border-color: $calendar-event-course-color;
            }
        }
        &.calendar_event_global {
            > a {
                border-color: $calendar-event-global-color;
            }
        }
        &.calendar_event_group {
            > a {
                border-color: $calendar-event-group-color;
            }
        }
        &.calendar_event_user {
            > a {
                border-color: $calendar-event-user-color;
            }
        }
    }
    .content {
        table {
            display: table;
        }
        span.calendar_event_course,
        span.calendar_event_global,
        span.calendar_event_group,
        span.calendar_event_user {
            border-radius: 50%;
            border: 3px solid $gray-light;
            height: 25px;
            width: 25px;
            display: inline-block;
            margin-right: .5rem;
            text-align: center;
            vertical-align: middle;
            .glyphicon {
                top: 0;
                left: 0px;
                color: $gray-dark;
                width: 100%;
                line-height: 20px;
                min-width: auto;
                font-size: .75rem;
            }
        }
        span.calendar_event_course {
            border-color: $calendar-event-course-color;
        }
        span.calendar_event_global {
            border-color: $calendar-event-global-color;
        }
        span.calendar_event_group {
            border-color: $calendar-event-group-color;
        }
        span.calendar_event_user {
            border-color: $calendar-event-user-color;
        }
    }
    td.today {
        color: #fff;
        > a {
            color: #fff;
            background-color: $gray-light;
            padding: 4px;
            display: block;
            margin: 0 auto;
            width: 25px;
            height: 25px;
            line-height: 17px;
        }
        .calendar-event-panel {
            color: $text-color;
        }
    }
    td {
        width: 25px;
        height: 25px;
    }
    abbr[title] {
        cursor: none;
        border: none;
    }
    caption {
        padding: 0;
        margin-bottom: 1rem;
        .calendar-controls {
            a {
                font-weight: normal;
                span.arrow {
                    display: none;
                }
            }
            span.current {
                font-size: 1.25rem;
                line-height: 1.5rem;
                margin: 0;
            }
            .arrow_link {
                @include make-glyphicon;
                font-size: 1.25rem;
                &:before {
                    font-size: 1.25rem;
                }
                @extend .glyphicon-chevron-left;
                &.next {
                    @extend .glyphicon-chevron-right;
                }
            }
        }
    }
    body:not(.editing) & {
        .header {
            display: none;
            + .card-block {
                padding-top: $card-spacer-y !important;
            }
        }
    }
    body:not(.editing) .drawer & {
        .header {
            display: block;
        }
    }
}

.block-region .block .content {
    .minicalendar {
        margin: 0 auto;
        width: 100%;
        overflow: auto;
        display: inline-table;
        caption {
            caption-side: top;
            padding-bottom: 0;
            padding-top: 1.5rem;
        }
        th,
        td {
            border: none;
            vertical-align: middle;
            &.calendar_event_course,
            &.calendar_event_global,
            &.calendar_event_group,
            &.calendar_event_user {
                > a {
                    padding: 3px 7px;
                    border-bottom: 2px solid $gray;
                }
            }
            &.calendar_event_course {
                > a {
                    border-color: $calendar-event-course-color;
                }
            }
            &.calendar_event_global {
                > a {
                    border-color: $calendar-event-global-color;
                }
            }
            &.calendar_event_group {
                > a {
                    border-color: $calendar-event-group-color;
                }
            }
            &.calendar_event_user {
                > a {
                    border-color: $calendar-event-user-color;
                }
            }
        }
        @include media-breakpoint-up(xs) {
            display: table;
        }
        th,
        td {
            padding: 8px 2px;
            font-size: 0.8em;
            text-align: center;
            &.calendar_event_global {
                img.hidden {
                    display: inline-block;
                }
            }
        }
        td {
            &.weekend {
                color: $text-muted;
            }
        }
        h3 {
            font-size: 18px;
            @include media-breakpoint-up(sm) {
                font-size: 2vw;
            }
            @media (min-width: 34em) {
                font-size: 1.3vw;
            }
        }
        abbr[title] {
            cursor: none;
            border: none;
        }
    }
    .minicalendarblock {
        &:first-child {
            .minicalendar caption {
                padding-top: 0;
            }
        }
    }
    .calendar-event-panel {
        background-color: $gray-lighter;
        border: 1px solid darken($gray-lighter, 10%);
        .yui3-overlay-content {
            padding: 19px;
            background-color: lighten($card-bg, 3%);
            border: 1px solid darken($card-bg, 7%);
            border-radius: $border-radius;
            @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
            h2 {
                &.eventtitle {
                    line-height: 1.2;
                    font-size: 18px;
                }
            }
            .eventcontent {
                transition: none;
                a {
                    transition: none;
                }
            }
        }
    }
    .calendar-controls {
        line-height: 1.25rem;
        .previous,
        .current,
        .next {
            display: block;
            float: left;
        }
        .previous {
            text-align: left;
            width: 12%;
            font-family: sans-serif;
        }
        .current {
            text-align: center;
            width: 76%;
        }
        .next {
            text-align: right;
            width: 12%;
            font-family: sans-serif;
        }
    }
    .calendar_filters {
        ul {
            padding: 0;
            list-style: none;
            margin: 0;
        }
        li {
            margin-bottom: .5rem;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                img {
                    padding: 0 0.2em;
                }
            }
            .calendar_event_course {
                border: 3px solid $calendar-event-course-color;
            }
            .calendar_event_global {
                border: 3px solid $calendar-event-global-color;
            }
            .calendar_event_group {
                border: 3px solid $calendar-event-group-color;
            }
            .calendar_event_user {
                border: 3px solid $calendar-event-user-color;
            }
        }
        .eventname {
            padding-left: 0.2em;
        }
    }
    h3 {
        &.eventskey {
            margin-top: 1rem;
            font-size: 1.25rem;
        }
    }
}

.calendar_event_course,
.calendar_event_global,
.calendar_event_group,
.calendar_event_user {
    .glyphicon {
        top: 1px;
        left: 0px;
        color: $gray-dark;
        width: auto;
        line-height: 20px;
        margin-right: 3px;
        min-width: auto;
        font-size: .75rem;
        .calendar_filters & {
            left: 1px;
            top: 0;
        }
    }
}

@media (min-width: 768px) {
    #page-calender-view {
        .container-fluid {
            min-width: 1024px;
        }
    }
}
