.userenrolment {
    width: 100%;
    border-collapse: collapse;
    tr {
        vertical-align: top;
    }
    .subfield {
        margin-right: 5px;
    }
    .col_userdetails {
        .subfield_picture {
            float: left;
            margin: 0 5px;
            padding: 5px 0;
            img {
                width: 35px;
                height: 35px;
            }
        }
        .subfield:not(.subfield_picture) {
            padding-left: 50px;
        }
    }
    .col_lastseen {
        width: 150px;
    }
    .col_role,
    .col_group {
        min-width: 260px;
        a,
        span {
            display: inline-block;
            vertical-align: middle;
        }
        a.assignrolelink {
            margin: 0;
            white-space: normal;
            line-height: 1;
        }
        .addrole {
            text-align: center;
            label {
                margin: 0;
                white-space: normal;
                display: block;
                cursor: pointer;
            }
        }
        .roles,
        .groups {
            height: 0;
            .role-remove {
                min-width: 0;
                top: 0;
                padding: 0 3px;
            }
            .unassignrolelink {
                img {
                    height: 9px;
                    min-width: 0;
                    padding: 1px 3px 0 3px;
                    vertical-align: top;
                }
            }
            .role {
                @include make-badge;
                @extend .badge-pill;
                @extend .badge-default;
                border: 1px solid $brand-primary;
                color: $text-color;
                margin-right: 5px;
                white-space: normal;
            }
        }
    }
    .hasAllRoles {
        .col_role {
            .addrole {
                display: none;
            }
        }
    }
    .col_group {
        .group {
            float: left;
            white-space: nowrap;
            a {
                margin-left: 3px;
                cursor: pointer;
            }
        }
        .groups {
            .group {
                @include make-badge;
                @extend .badge-pill;
                @extend .badge-default;
                border: 1px solid $brand-primary;
                color: $text-color;
                margin-right: 5px;
                white-space: normal;
            }
            .addgroup {
                text-align: center;
            }
        }
        .addgroup {
            a {
                img {
                    vertical-align: bottom;
                }
                &:hover {
                    text-decoration: none;
                }
            }
            label {
                margin-right: 0;
                white-space: normal;
                display: block;
                cursor: pointer;
            }
        }
    }
    .col_enrol {
        span {
            padding-right: 10px;
        }
    }
}

.user-enroller-panel {
    max-width: 98%;
    min-width: 60%;
    z-index: 200!important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    position: fixed;
    .modal-title {
        //Remove drag icon, element is not draggable
        cursor: default !important;
    }
}

.enrolpanel.roleassign.visible {
    @extend .popover;
    width: $popover-max-width;
    border: 1px solid $gray;
    display: block;
    .container {
        content: inherit;
        display: block;
        padding: 0;
        border: 0;
    }
    a {
        text-decoration: underline;
    }
    .header {
        @extend .popover-title;
        .close {
            @include make-glyphicon;
            @extend .glyphicon-remove;
            color: $link-color;
            background: inherit;
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: 5px;
            opacity: 1;
            width: auto;
            top: 5px;
            right: 10px;
            height: auto;
            position: absolute;
        }
    }
    .content {
        @extend .popover-content;
        margin-top: 5px;
        background-color: lighten($popover-bg, 10%);
    }
}

.uep-header {
    flex-direction: row-reverse;
}

#id_enrol_manual_assignable_roles {
    display: inline-block;
}

.user-enroller-panel .uep-searchoptions {
    clear: both;
    width: 100%;
    display: block;
    margin: 8px 3px;
}

.user-enroller-panel .uep-search {
    width: 100%;
}

#page-enrol-users {
    position: static;
    .enrol_user_buttons {
        float: right;
        .enrolusersbutton {
            display: inline-block;
            margin-top: 5px;
            div,
            form {
                display: inline;
                margin-right: 0;
            }
        }
    }
    #filterform {
        @include make-well;
        display: inline-block;
        .fitem {
            display: inline-block;
            margin-right: .3em;
            white-space: nowrap;
            label {
                display: inline;
                line-height: $line-height-base;
                padding-right: .3em;
            }
            :before,
            :after {
                display: inline;
            }
        }
        div,
        fieldset {
            display: table;
            float: none;
            clear: none;
            width: auto;
            margin: 0;
        }
        select,
        .ftext input {
            width: 7em;
        }
        input,
        select {
            margin-bottom: 0;
        }
    }
    .user-enroller-panel .uep-search-results .user {
        .details,
        .options {
            flex: 1;
        }
    }
    .popover {
        margin-top: -10px;
        .btn {
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
            padding-right: 2rem;
        }
    }
}
