.marketingspots {
    .marketingspot {
        .card-header {
            background: #fff;
        }
        .card-block {
            .marketing-image {
                min-height: 150px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
            }
            .content {
                padding: $card-spacer-x $card-spacer-y;
                background-color: transparent;
                p:only-of-type,
                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .card-footer {
            background: #fff;
            hr {
                margin-bottom: $card-spacer-y;
            }
        }
    }
}
