/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    &:focus {
        outline: none;
    }
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }
    display: none;
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

@charset "UTF-8";
// Default Variables
// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"
$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}


/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff url([[pix:theme|ajax_loader]]) center center no-repeat;
    }
}


/* Icons */

@if $slick-font-family=="slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}


/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    z-index: 2;
    line-height: 0px;
    font-size: 0px;
    padding: 0;
    background-color: rgba(255,255,255,0.75);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath fill='#{$brand-primary}' d='M11.05,7.25,4.45.55a.64.64,0,0,0-.6,0c-.2.1-.1.4,0,.6l6.4,6.4L3.85,14a.45.45,0,0,0,0,.5.37.37,0,0,0,.3.1.37.37,0,0,0,.3-.1l6.7-6.7a.35.35,0,0,0-.08-.49Z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-size: 70%;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: border .2s ease-in-out;
    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev {
    left: 25px;
    transform: translate(0, -50%) rotate(180deg);
    [dir="rtl"] & {
        left: auto;
        right: 25px;
    }
}

.slick-next {
    right: 25px;
    [dir="rtl"] & {
        left: 25px;
        right: auto;
    }
}


/* Dots */

.slick-dots {
    position: absolute;
    list-style: none;
    display: block;
    text-align: center;
    width: 160px;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    max-height: 55px;
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    &:before {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 12px;
        width: 12px;
        margin: 5px;
        padding: 0;
        cursor: pointer;
        button[type="button"] {
            border: 0;
            background-color: $gray-lightest;
            display: block;
            height: 12px;
            width: 12px;
            outline: none;
            line-height: 0;
            font-size: 0;
            padding: 0;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: inset 0px 0px 0px 1px $gray-lighter;
            transition: all 0.2s ease-in-out;
            &:hover,
            &:focus {
                outline: none;
            }
        }
        &.slick-active button[type="button"] {
            background-color: $brand-primary;
            box-shadow: inset 0px 0px 0px 1px darken($brand-primary, 10%);
        }
    }
}
