table {
    @extend .table;
    .mediaplugin,
    .mediaplugin video {
        width: auto;
    }
}

.generaltable {
    @extend .table;
}

.table-hover {
    > tbody > tr,
    > tbody > tr > th,
    > tbody > tr > td {
        @include transition(all 0.5s);
    }
}

.path-rating .ratingtable,
table.flexible,
.generaltable {
    @include make-table;
    .userpicture {
        width: 35px;
        height: 35px;
    }
}

.path-rating .ratingtable,
table#explaincaps,
table#defineroletable,
table.grading-report,
table#listdirectories,
table.rolecaps,
table.userenrolment,
table#form,
form#movecourses table,
#page-admin-course-index .editcourse,
.forumheaderlist,
table.flexible,
.generaltable {
    @extend .table-striped;
}

.user-enroller-panel .uep-search-results .users,
table.grading-report,
.forumheaderlist,
.generaltable,
table.flexible,
table#permissions {
    @extend .table-hover;
}

#page-report-loglive-index .generaltable,
#page-admin-report-log-index .generaltable,
#page-report-log-index .generaltable,
#page-report-log-user .generaltable,
#page-admin-user table {
    @extend .table-sm;
}

table {
    @include make-table;
    > tbody {
        > tr {
            > th {
                @media (min-width: 34em) {
                    &.header {
                        padding-left: 3px;
                        padding-right: 3px;
                    }
                }
            }
        }
    }
    &.flexible .emptyrow {
        display: none;
    }
    &#emoticonsetting {
        overflow: auto;
        display: block;
    }
    &#plugins-control-panel {
        display: block;
    }
    #page-cohort-assign & {
        td {
            display: block;
            @include media-breakpoint-up(md) {
                display: table-cell;
                width: 40%;
                &#buttonscell {
                    padding-top: 16rem;
                    text-align: center;
                    width: 20%;
                }
                select.form-control {
                    width: 100%;
                }
            }
            &#buttonscell [type='submit'] {
                margin-bottom: .5rem;
                min-width: 140px;
            }
        }
    }
    &#commentstable tbody td {
        min-width: 80px;
        &.c2 {
            min-width: 120px;
        }
    }
}

#page-mod-quiz-report {
    table#attempts {
        margin-bottom: 1rem;
        .cell,
        .header {
            padding: 0.75rem;
        }
        td {
            border: none;
            vertical-align: top;
        }
    }
    #commands .btn {
        margin: .5rem .25rem;
    }
}

.phpinfo table {
    display: block;
    max-width: 100%;
    overflow: auto;
    @include make-table;
}

.left_scroller,
.right_scroller {
    .generaltable {
        th,
        td {
            line-height: $line-height-base;
            box-sizing: content-box;
        }
    }
}

textarea {
    padding: 10px;
    box-sizing: border-box;
}

.path-mod-survey #surveyform th {
    th.hresponse {
        display: table-cell;
    }
    td.questioncell {
        display: block;
    }
}

.yui3-skin-sam .yui3-calendar-weekday {
    padding: 0.25rem;
}

.yui3-calendar,
.yui3-calendar * {
    transition: none;
}

.yui3-skin-sam .yui3-datatable-table,
#page-content #region-main .admintable.generaltable {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
    overflow: auto;
    @include media-breakpoint-up(lg) {
        display: table;
    }
}

#page-report-outline-index {
    td.numviews {
        text-align: left;
    }
}

#page-mod-lesson-report {
    table.generaltable {
        > tbody > tr > td {
            vertical-align: middle;
        }
    }
}

table.sth-sticky,
table.sth-sticky * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table.sth-sticky {
    position: relative;
}

table.sth-sticky thead.clone {
    visibility: hidden;
    display: none;
}

table.sth-sticky thead.clone.use {
    visibility: hidden;
    position: static;
    display: table-header-group;
}

table.sth-sticky thead.sth-sticky {
    visibility: visible;
    display: table-row;
    @include media-breakpoint-down(md) {
        display: block;
        width: 1000%;
    }
}

table.sth-sticky caption.sth-sticky,
table.sth-sticky thead.sth-sticky {
    position: absolute;
    z-index: 1;
}

thead.sth-sticky,
thead.sth-sticky tr {
    background: #fff;
}

.inplaceeditable.inplaceeditable-toggle .quickediticon {
    display: none;
}
