#page-tag-coursetags_edit .coursetag_edit_centered {
    position: relative;
    width: 600px;
    margin: 20px auto;
}
#page-tag-coursetags_edit .coursetag_edit_row {
    clear: both;
}
#page-tag-coursetags_edit .coursetag_edit_row .coursetag_edit_left {
    float: left;
    width: 50%;
    text-align: right;
}
#page-tag-coursetags_edit .coursetag_edit_row .coursetag_edit_right {
    margin-left: 50%;
}
#page-tag-coursetags_edit .coursetag_edit_input3 {
    display: none;
}
#page-tag-coursetags_more .coursetag_more_large {
    font-size: 120%;
}
#page-tag-coursetags_more .coursetag_more_small {
    font-size: 80%;
}
#page-tag-coursetags_more .coursetag_more_link {
    font-size: 80%;
}
#tag-description,
#tag-blogs {
    width: 100%;
}
.badge-management-box,
#tag-management-box {
    margin-bottom: 10px;
    line-height: 20px;
    .inline-list {
        a {
                                            }
    }
}
img.user-image {
    height: 100px;
    width: 100px;
}
#small-tag-cloud-box {
    width: 300px;
    margin: 0 auto;
}
#big-tag-cloud-box {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    float: none;
    padding-top: 15px;
    border-top: 2px solid $gray-dark;
}
ul#tag-cloud-list {
    list-style: none;
    padding: 5px;
    margin: 0;
}
ul#tag-cloud-list li {
    margin: 0;
    display: inline;
    list-style-type: none;
}
#tag-search-box {
    text-align: center;
    margin: 10px auto;
    .input-group {
        input {
            width: auto;
            margin-bottom: 0;
            margin-right: 10px;
        }
    }
}
#tag-search-results-container {
    padding: 0;
    width: 100%;
}
#tag-search-results {
    padding: 0;
    margin: 15px 20% 0 20%;
    float: left;
    width: 90%;
    display: block;
    li {
        width: 30%;
        float: left;
        padding-left: 1%;
        text-align: left;
        line-height: normal;
        padding-right: 1%;
        list-style: none;
        color: transparent;
        a {
            @include make-badge;
            @extend .badge-info;
            display: inline-block;
            font-size: 18px;
            margin-bottom: 4px;
        }
    }
}

.badge_cloud {
    &.inline-list {
        li {
            a {
                @include make-badge;
                @extend .badge-info;
                font-size: $font-size-base;
            }
        }
    }
}

span.flagged-tag,
span.flagged-tag a {
    color: $alert-danger-text;
}
.badge-management-form {
    text-align: center;
    margin-bottom: 15px;
}
table#tag-management-list {
    text-align: left;
}
#relatedtags-autocomplete-container {
    margin-left: auto;
    margin-right: auto;
    min-height: 4.6em;
    width: 100%;
}
#relatedtags-autocomplete {
    position: relative;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#relatedtags-autocomplete .yui-ac-content {
    position: absolute;
    width: 420px;
    left: 20%;
    border: 1px solid #404040;
    background: #fff;
    overflow: hidden;
    z-index: 9050;
}
#relatedtags-autocomplete .ysearchquery {
    position: absolute;
    right: 10px;
    color: #808080;
    z-index: 10;
}
#relatedtags-autocomplete .yui-ac-shadow {
    position: absolute;
    margin: .3em;
    width: 100%;
    background: #a0a0a0;
    z-index: 9049;
}
#relatedtags-autocomplete ul {
    padding: 0;
    width: 100%;
    margin: 0;
    list-style-type: none;
}
#relatedtags-autocomplete li {
    padding: 0 5px;
    cursor: default;
    white-space: nowrap;
}
#relatedtags-autocomplete li.yui-ac-highlight{
    background: #ffc;
}
h2.badge-heading,
div#tag-description,
div#tag-blogs,
body.badge .managelink {
    padding: 5px;
}
.badge_cloud .s20 {
    font-size: 1.5em;
    font-weight: bold;
}
.badge_cloud .s19 {
    font-size: 1.5em;
}
.badge_cloud .s18 {
    font-size: 1.4em;
    font-weight: bold;
}
.badge_cloud .s17 {
    font-size: 1.4em;
}
.badge_cloud .s16 {
    font-size: 1.3em;
    font-weight: bold;
}
.badge_cloud .s15 {
    font-size: 1.3em;
}
.badge_cloud .s14 {
    font-size: 1.2em;
    font-weight: bold;
}
.badge_cloud .s13 {
    font-size: 1.2em;
}
.badge_cloud .s12,
.badge_cloud .s11 {
    font-size: 1.1em;
    font-weight: bold;
}
.badge_cloud .s10,
.badge_cloud .s9 {
    font-size: 1.1em;
}
.badge_cloud .s8,
.badge_cloud .s7 {
    font-size: 1em;
    font-weight: bold;
}
.badge_cloud .s6,
.badge_cloud .s5 {
    font-size: 1em;
}
.badge_cloud .s4,
.badge_cloud .s3 {
    font-size: 0.9em;
    font-weight: bold;
}
.badge_cloud .s2,
.badge_cloud .s1 {
    font-size: 0.9em;
}
.badge_cloud .s0 {
    font-size: 0.8em;
}

#tag-search-box {
    form {
        text-align: left;
        [type='text'] {
            display: inline-block;
            max-width: calc(100% - 116px);
            width: auto;
        }
    }
}

.tag-management-box .btn-group {
    @include media-breakpoint-down(md) {
        display: block;
        .btn {
            max-width: 100%;
            margin-bottom: 5px;
        }
    }
}

.tag_feed {
    .col-md-3 {
        @include media-breakpoint-down(md) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .card-title {
        margin-bottom: 0;
    }
    .itemimage {
        padding: 0;
    }
}

#tag-search-results {
    float: none;
    margin: 0;
    width: 100%;
    li {
        float: none;
        width: auto;
        a {
            text-align: left;
            white-space: normal;
        }
    }
}