@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../../../local/qmul_dashboard/fonts/glyphicons-halflings-regular.eot');
  src: url('../../../../local/qmul_dashboard/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../../../local/qmul_dashboard/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../../../local/qmul_dashboard/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../../../local/qmul_dashboard/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../../../local/qmul_dashboard/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
#page-local-qmul_dashboard-index {
  /**
   * User Styles
   * =========================================== */
  /* Large desktop */
  /* Portrait tablet and desktop */
  /* landscape tablet to  and desktop */
  /* Landscape phone to portrait tablet */
  /* Landscape phone to portrait tablet */
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
}
#page-local-qmul_dashboard-index .darken {
  filter: brightness(70%);
}
#page-local-qmul_dashboard-index .underline {
  color: #002d4e;
}
#page-local-qmul_dashboard-index .pp_grademark_open {
  margin-left: 3px;
  margin-top: 10px;
  color: #005A9A;
  cursor: pointer;
}
#page-local-qmul_dashboard-index .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#page-local-qmul_dashboard-index .glyphicon-asterisk:before {
  content: "\002a";
}
#page-local-qmul_dashboard-index .glyphicon-plus:before {
  content: "\002b";
}
#page-local-qmul_dashboard-index .glyphicon-euro:before,
#page-local-qmul_dashboard-index .glyphicon-eur:before {
  content: "\20ac";
}
#page-local-qmul_dashboard-index .glyphicon-minus:before {
  content: "\2212";
}
#page-local-qmul_dashboard-index .glyphicon-cloud:before {
  content: "\2601";
}
#page-local-qmul_dashboard-index .glyphicon-envelope:before {
  content: "\2709";
}
#page-local-qmul_dashboard-index .glyphicon-pencil:before {
  content: "\270f";
}
#page-local-qmul_dashboard-index .glyphicon-glass:before {
  content: "\e001";
}
#page-local-qmul_dashboard-index .glyphicon-music:before {
  content: "\e002";
}
#page-local-qmul_dashboard-index .glyphicon-search:before {
  content: "\e003";
}
#page-local-qmul_dashboard-index .glyphicon-heart:before {
  content: "\e005";
}
#page-local-qmul_dashboard-index .glyphicon-star:before {
  content: "\e006";
}
#page-local-qmul_dashboard-index .glyphicon-star-empty:before {
  content: "\e007";
}
#page-local-qmul_dashboard-index .glyphicon-user:before {
  content: "\e008";
}
#page-local-qmul_dashboard-index .glyphicon-film:before {
  content: "\e009";
}
#page-local-qmul_dashboard-index .glyphicon-th-large:before {
  content: "\e010";
}
#page-local-qmul_dashboard-index .glyphicon-th:before {
  content: "\e011";
}
#page-local-qmul_dashboard-index .glyphicon-th-list:before {
  content: "\e012";
}
#page-local-qmul_dashboard-index .glyphicon-ok:before {
  content: "\e013";
}
#page-local-qmul_dashboard-index .glyphicon-remove:before {
  content: "\e014";
}
#page-local-qmul_dashboard-index .glyphicon-zoom-in:before {
  content: "\e015";
}
#page-local-qmul_dashboard-index .glyphicon-zoom-out:before {
  content: "\e016";
}
#page-local-qmul_dashboard-index .glyphicon-off:before {
  content: "\e017";
}
#page-local-qmul_dashboard-index .glyphicon-signal:before {
  content: "\e018";
}
#page-local-qmul_dashboard-index .glyphicon-cog:before {
  content: "\e019";
}
#page-local-qmul_dashboard-index .glyphicon-trash:before {
  content: "\e020";
}
#page-local-qmul_dashboard-index .glyphicon-home:before {
  content: "\e021";
}
#page-local-qmul_dashboard-index .glyphicon-file:before {
  content: "\e022";
}
#page-local-qmul_dashboard-index .glyphicon-time:before {
  content: "\e023";
}
#page-local-qmul_dashboard-index .glyphicon-road:before {
  content: "\e024";
}
#page-local-qmul_dashboard-index .glyphicon-download-alt:before {
  content: "\e025";
}
#page-local-qmul_dashboard-index .glyphicon-download:before {
  content: "\e026";
}
#page-local-qmul_dashboard-index .glyphicon-upload:before {
  content: "\e027";
}
#page-local-qmul_dashboard-index .glyphicon-inbox:before {
  content: "\e028";
}
#page-local-qmul_dashboard-index .glyphicon-play-circle:before {
  content: "\e029";
}
#page-local-qmul_dashboard-index .glyphicon-repeat:before {
  content: "\e030";
}
#page-local-qmul_dashboard-index .glyphicon-refresh:before {
  content: "\e031";
}
#page-local-qmul_dashboard-index .glyphicon-list-alt:before {
  content: "\e032";
}
#page-local-qmul_dashboard-index .glyphicon-lock:before {
  content: "\e033";
}
#page-local-qmul_dashboard-index .glyphicon-flag:before {
  content: "\e034";
}
#page-local-qmul_dashboard-index .glyphicon-headphones:before {
  content: "\e035";
}
#page-local-qmul_dashboard-index .glyphicon-volume-off:before {
  content: "\e036";
}
#page-local-qmul_dashboard-index .glyphicon-volume-down:before {
  content: "\e037";
}
#page-local-qmul_dashboard-index .glyphicon-volume-up:before {
  content: "\e038";
}
#page-local-qmul_dashboard-index .glyphicon-qrcode:before {
  content: "\e039";
}
#page-local-qmul_dashboard-index .glyphicon-barcode:before {
  content: "\e040";
}
#page-local-qmul_dashboard-index .glyphicon-tag:before {
  content: "\e041";
}
#page-local-qmul_dashboard-index .glyphicon-tags:before {
  content: "\e042";
}
#page-local-qmul_dashboard-index .glyphicon-book:before {
  content: "\e043";
}
#page-local-qmul_dashboard-index .glyphicon-bookmark:before {
  content: "\e044";
}
#page-local-qmul_dashboard-index .glyphicon-print:before {
  content: "\e045";
}
#page-local-qmul_dashboard-index .glyphicon-camera:before {
  content: "\e046";
}
#page-local-qmul_dashboard-index .glyphicon-font:before {
  content: "\e047";
}
#page-local-qmul_dashboard-index .glyphicon-bold:before {
  content: "\e048";
}
#page-local-qmul_dashboard-index .glyphicon-italic:before {
  content: "\e049";
}
#page-local-qmul_dashboard-index .glyphicon-text-height:before {
  content: "\e050";
}
#page-local-qmul_dashboard-index .glyphicon-text-width:before {
  content: "\e051";
}
#page-local-qmul_dashboard-index .glyphicon-align-left:before {
  content: "\e052";
}
#page-local-qmul_dashboard-index .glyphicon-align-center:before {
  content: "\e053";
}
#page-local-qmul_dashboard-index .glyphicon-align-right:before {
  content: "\e054";
}
#page-local-qmul_dashboard-index .glyphicon-align-justify:before {
  content: "\e055";
}
#page-local-qmul_dashboard-index .glyphicon-list:before {
  content: "\e056";
}
#page-local-qmul_dashboard-index .glyphicon-indent-left:before {
  content: "\e057";
}
#page-local-qmul_dashboard-index .glyphicon-indent-right:before {
  content: "\e058";
}
#page-local-qmul_dashboard-index .glyphicon-facetime-video:before {
  content: "\e059";
}
#page-local-qmul_dashboard-index .glyphicon-picture:before {
  content: "\e060";
}
#page-local-qmul_dashboard-index .glyphicon-map-marker:before {
  content: "\e062";
}
#page-local-qmul_dashboard-index .glyphicon-adjust:before {
  content: "\e063";
}
#page-local-qmul_dashboard-index .glyphicon-tint:before {
  content: "\e064";
}
#page-local-qmul_dashboard-index .glyphicon-edit:before {
  content: "\e065";
}
#page-local-qmul_dashboard-index .glyphicon-share:before {
  content: "\e066";
}
#page-local-qmul_dashboard-index .glyphicon-check:before {
  content: "\e067";
}
#page-local-qmul_dashboard-index .glyphicon-move:before {
  content: "\e068";
}
#page-local-qmul_dashboard-index .glyphicon-step-backward:before {
  content: "\e069";
}
#page-local-qmul_dashboard-index .glyphicon-fast-backward:before {
  content: "\e070";
}
#page-local-qmul_dashboard-index .glyphicon-backward:before {
  content: "\e071";
}
#page-local-qmul_dashboard-index .glyphicon-play:before {
  content: "\e072";
}
#page-local-qmul_dashboard-index .glyphicon-pause:before {
  content: "\e073";
}
#page-local-qmul_dashboard-index .glyphicon-stop:before {
  content: "\e074";
}
#page-local-qmul_dashboard-index .glyphicon-forward:before {
  content: "\e075";
}
#page-local-qmul_dashboard-index .glyphicon-fast-forward:before {
  content: "\e076";
}
#page-local-qmul_dashboard-index .glyphicon-step-forward:before {
  content: "\e077";
}
#page-local-qmul_dashboard-index .glyphicon-eject:before {
  content: "\e078";
}
#page-local-qmul_dashboard-index .glyphicon-chevron-left:before {
  content: "\e079";
}
#page-local-qmul_dashboard-index .glyphicon-chevron-right:before {
  content: "\e080";
}
#page-local-qmul_dashboard-index .glyphicon-plus-sign:before {
  content: "\e081";
}
#page-local-qmul_dashboard-index .glyphicon-minus-sign:before {
  content: "\e082";
}
#page-local-qmul_dashboard-index .glyphicon-remove-sign:before {
  content: "\e083";
}
#page-local-qmul_dashboard-index .glyphicon-ok-sign:before {
  content: "\e084";
}
#page-local-qmul_dashboard-index .glyphicon-question-sign:before {
  content: "\e085";
}
#page-local-qmul_dashboard-index .glyphicon-info-sign:before {
  content: "\e086";
}
#page-local-qmul_dashboard-index .glyphicon-screenshot:before {
  content: "\e087";
}
#page-local-qmul_dashboard-index .glyphicon-remove-circle:before {
  content: "\e088";
}
#page-local-qmul_dashboard-index .glyphicon-ok-circle:before {
  content: "\e089";
}
#page-local-qmul_dashboard-index .glyphicon-ban-circle:before {
  content: "\e090";
}
#page-local-qmul_dashboard-index .glyphicon-arrow-left:before {
  content: "\e091";
}
#page-local-qmul_dashboard-index .glyphicon-arrow-right:before {
  content: "\e092";
}
#page-local-qmul_dashboard-index .glyphicon-arrow-up:before {
  content: "\e093";
}
#page-local-qmul_dashboard-index .glyphicon-arrow-down:before {
  content: "\e094";
}
#page-local-qmul_dashboard-index .glyphicon-share-alt:before {
  content: "\e095";
}
#page-local-qmul_dashboard-index .glyphicon-resize-full:before {
  content: "\e096";
}
#page-local-qmul_dashboard-index .glyphicon-resize-small:before {
  content: "\e097";
}
#page-local-qmul_dashboard-index .glyphicon-exclamation-sign:before {
  content: "\e101";
}
#page-local-qmul_dashboard-index .glyphicon-gift:before {
  content: "\e102";
}
#page-local-qmul_dashboard-index .glyphicon-leaf:before {
  content: "\e103";
}
#page-local-qmul_dashboard-index .glyphicon-fire:before {
  content: "\e104";
}
#page-local-qmul_dashboard-index .glyphicon-eye-open:before {
  content: "\e105";
}
#page-local-qmul_dashboard-index .glyphicon-eye-close:before {
  content: "\e106";
}
#page-local-qmul_dashboard-index .glyphicon-warning-sign:before {
  content: "\e107";
}
#page-local-qmul_dashboard-index .glyphicon-plane:before {
  content: "\e108";
}
#page-local-qmul_dashboard-index .glyphicon-calendar:before {
  content: "\e109";
}
#page-local-qmul_dashboard-index .glyphicon-random:before {
  content: "\e110";
}
#page-local-qmul_dashboard-index .glyphicon-comment:before {
  content: "\e111";
}
#page-local-qmul_dashboard-index .glyphicon-magnet:before {
  content: "\e112";
}
#page-local-qmul_dashboard-index .glyphicon-chevron-up:before {
  content: "\e113";
}
#page-local-qmul_dashboard-index .glyphicon-chevron-down:before {
  content: "\e114";
}
#page-local-qmul_dashboard-index .glyphicon-retweet:before {
  content: "\e115";
}
#page-local-qmul_dashboard-index .glyphicon-shopping-cart:before {
  content: "\e116";
}
#page-local-qmul_dashboard-index .glyphicon-folder-close:before {
  content: "\e117";
}
#page-local-qmul_dashboard-index .glyphicon-folder-open:before {
  content: "\e118";
}
#page-local-qmul_dashboard-index .glyphicon-resize-vertical:before {
  content: "\e119";
}
#page-local-qmul_dashboard-index .glyphicon-resize-horizontal:before {
  content: "\e120";
}
#page-local-qmul_dashboard-index .glyphicon-hdd:before {
  content: "\e121";
}
#page-local-qmul_dashboard-index .glyphicon-bullhorn:before {
  content: "\e122";
}
#page-local-qmul_dashboard-index .glyphicon-bell:before {
  content: "\e123";
}
#page-local-qmul_dashboard-index .glyphicon-certificate:before {
  content: "\e124";
}
#page-local-qmul_dashboard-index .glyphicon-thumbs-up:before {
  content: "\e125";
}
#page-local-qmul_dashboard-index .glyphicon-thumbs-down:before {
  content: "\e126";
}
#page-local-qmul_dashboard-index .glyphicon-hand-right:before {
  content: "\e127";
}
#page-local-qmul_dashboard-index .glyphicon-hand-left:before {
  content: "\e128";
}
#page-local-qmul_dashboard-index .glyphicon-hand-up:before {
  content: "\e129";
}
#page-local-qmul_dashboard-index .glyphicon-hand-down:before {
  content: "\e130";
}
#page-local-qmul_dashboard-index .glyphicon-circle-arrow-right:before {
  content: "\e131";
}
#page-local-qmul_dashboard-index .glyphicon-circle-arrow-left:before {
  content: "\e132";
}
#page-local-qmul_dashboard-index .glyphicon-circle-arrow-up:before {
  content: "\e133";
}
#page-local-qmul_dashboard-index .glyphicon-circle-arrow-down:before {
  content: "\e134";
}
#page-local-qmul_dashboard-index .glyphicon-globe:before {
  content: "\e135";
}
#page-local-qmul_dashboard-index .glyphicon-wrench:before {
  content: "\e136";
}
#page-local-qmul_dashboard-index .glyphicon-tasks:before {
  content: "\e137";
}
#page-local-qmul_dashboard-index .glyphicon-filter:before {
  content: "\e138";
}
#page-local-qmul_dashboard-index .glyphicon-briefcase:before {
  content: "\e139";
}
#page-local-qmul_dashboard-index .glyphicon-fullscreen:before {
  content: "\e140";
}
#page-local-qmul_dashboard-index .glyphicon-dashboard:before {
  content: "\e141";
}
#page-local-qmul_dashboard-index .glyphicon-paperclip:before {
  content: "\e142";
}
#page-local-qmul_dashboard-index .glyphicon-heart-empty:before {
  content: "\e143";
}
#page-local-qmul_dashboard-index .glyphicon-link:before {
  content: "\e144";
}
#page-local-qmul_dashboard-index .glyphicon-phone:before {
  content: "\e145";
}
#page-local-qmul_dashboard-index .glyphicon-pushpin:before {
  content: "\e146";
}
#page-local-qmul_dashboard-index .glyphicon-usd:before {
  content: "\e148";
}
#page-local-qmul_dashboard-index .glyphicon-gbp:before {
  content: "\e149";
}
#page-local-qmul_dashboard-index .glyphicon-sort:before {
  content: "\e150";
}
#page-local-qmul_dashboard-index .glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
#page-local-qmul_dashboard-index .glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
#page-local-qmul_dashboard-index .glyphicon-sort-by-order:before {
  content: "\e153";
}
#page-local-qmul_dashboard-index .glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
#page-local-qmul_dashboard-index .glyphicon-sort-by-attributes:before {
  content: "\e155";
}
#page-local-qmul_dashboard-index .glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
#page-local-qmul_dashboard-index .glyphicon-unchecked:before {
  content: "\e157";
}
#page-local-qmul_dashboard-index .glyphicon-expand:before {
  content: "\e158";
}
#page-local-qmul_dashboard-index .glyphicon-collapse-down:before {
  content: "\e159";
}
#page-local-qmul_dashboard-index .glyphicon-collapse-up:before {
  content: "\e160";
}
#page-local-qmul_dashboard-index .glyphicon-log-in:before {
  content: "\e161";
}
#page-local-qmul_dashboard-index .glyphicon-flash:before {
  content: "\e162";
}
#page-local-qmul_dashboard-index .glyphicon-log-out:before {
  content: "\e163";
}
#page-local-qmul_dashboard-index .glyphicon-new-window:before {
  content: "\e164";
}
#page-local-qmul_dashboard-index .glyphicon-record:before {
  content: "\e165";
}
#page-local-qmul_dashboard-index .glyphicon-save:before {
  content: "\e166";
}
#page-local-qmul_dashboard-index .glyphicon-open:before {
  content: "\e167";
}
#page-local-qmul_dashboard-index .glyphicon-saved:before {
  content: "\e168";
}
#page-local-qmul_dashboard-index .glyphicon-import:before {
  content: "\e169";
}
#page-local-qmul_dashboard-index .glyphicon-export:before {
  content: "\e170";
}
#page-local-qmul_dashboard-index .glyphicon-send:before {
  content: "\e171";
}
#page-local-qmul_dashboard-index .glyphicon-floppy-disk:before {
  content: "\e172";
}
#page-local-qmul_dashboard-index .glyphicon-floppy-saved:before {
  content: "\e173";
}
#page-local-qmul_dashboard-index .glyphicon-floppy-remove:before {
  content: "\e174";
}
#page-local-qmul_dashboard-index .glyphicon-floppy-save:before {
  content: "\e175";
}
#page-local-qmul_dashboard-index .glyphicon-floppy-open:before {
  content: "\e176";
}
#page-local-qmul_dashboard-index .glyphicon-credit-card:before {
  content: "\e177";
}
#page-local-qmul_dashboard-index .glyphicon-transfer:before {
  content: "\e178";
}
#page-local-qmul_dashboard-index .glyphicon-cutlery:before {
  content: "\e179";
}
#page-local-qmul_dashboard-index .glyphicon-header:before {
  content: "\e180";
}
#page-local-qmul_dashboard-index .glyphicon-compressed:before {
  content: "\e181";
}
#page-local-qmul_dashboard-index .glyphicon-earphone:before {
  content: "\e182";
}
#page-local-qmul_dashboard-index .glyphicon-phone-alt:before {
  content: "\e183";
}
#page-local-qmul_dashboard-index .glyphicon-tower:before {
  content: "\e184";
}
#page-local-qmul_dashboard-index .glyphicon-stats:before {
  content: "\e185";
}
#page-local-qmul_dashboard-index .glyphicon-sd-video:before {
  content: "\e186";
}
#page-local-qmul_dashboard-index .glyphicon-hd-video:before {
  content: "\e187";
}
#page-local-qmul_dashboard-index .glyphicon-subtitles:before {
  content: "\e188";
}
#page-local-qmul_dashboard-index .glyphicon-sound-stereo:before {
  content: "\e189";
}
#page-local-qmul_dashboard-index .glyphicon-sound-dolby:before {
  content: "\e190";
}
#page-local-qmul_dashboard-index .glyphicon-sound-5-1:before {
  content: "\e191";
}
#page-local-qmul_dashboard-index .glyphicon-sound-6-1:before {
  content: "\e192";
}
#page-local-qmul_dashboard-index .glyphicon-sound-7-1:before {
  content: "\e193";
}
#page-local-qmul_dashboard-index .glyphicon-copyright-mark:before {
  content: "\e194";
}
#page-local-qmul_dashboard-index .glyphicon-registration-mark:before {
  content: "\e195";
}
#page-local-qmul_dashboard-index .glyphicon-cloud-download:before {
  content: "\e197";
}
#page-local-qmul_dashboard-index .glyphicon-cloud-upload:before {
  content: "\e198";
}
#page-local-qmul_dashboard-index .glyphicon-tree-conifer:before {
  content: "\e199";
}
#page-local-qmul_dashboard-index .glyphicon-tree-deciduous:before {
  content: "\e200";
}
#page-local-qmul_dashboard-index .glyphicon-cd:before {
  content: "\e201";
}
#page-local-qmul_dashboard-index .glyphicon-save-file:before {
  content: "\e202";
}
#page-local-qmul_dashboard-index .glyphicon-open-file:before {
  content: "\e203";
}
#page-local-qmul_dashboard-index .glyphicon-level-up:before {
  content: "\e204";
}
#page-local-qmul_dashboard-index .glyphicon-copy:before {
  content: "\e205";
}
#page-local-qmul_dashboard-index .glyphicon-paste:before {
  content: "\e206";
}
#page-local-qmul_dashboard-index .glyphicon-alert:before {
  content: "\e209";
}
#page-local-qmul_dashboard-index .glyphicon-equalizer:before {
  content: "\e210";
}
#page-local-qmul_dashboard-index .glyphicon-king:before {
  content: "\e211";
}
#page-local-qmul_dashboard-index .glyphicon-queen:before {
  content: "\e212";
}
#page-local-qmul_dashboard-index .glyphicon-pawn:before {
  content: "\e213";
}
#page-local-qmul_dashboard-index .glyphicon-bishop:before {
  content: "\e214";
}
#page-local-qmul_dashboard-index .glyphicon-knight:before {
  content: "\e215";
}
#page-local-qmul_dashboard-index .glyphicon-baby-formula:before {
  content: "\e216";
}
#page-local-qmul_dashboard-index .glyphicon-tent:before {
  content: "\26fa";
}
#page-local-qmul_dashboard-index .glyphicon-blackboard:before {
  content: "\e218";
}
#page-local-qmul_dashboard-index .glyphicon-bed:before {
  content: "\e219";
}
#page-local-qmul_dashboard-index .glyphicon-apple:before {
  content: "\f8ff";
}
#page-local-qmul_dashboard-index .glyphicon-erase:before {
  content: "\e221";
}
#page-local-qmul_dashboard-index .glyphicon-hourglass:before {
  content: "\231b";
}
#page-local-qmul_dashboard-index .glyphicon-lamp:before {
  content: "\e223";
}
#page-local-qmul_dashboard-index .glyphicon-duplicate:before {
  content: "\e224";
}
#page-local-qmul_dashboard-index .glyphicon-piggy-bank:before {
  content: "\e225";
}
#page-local-qmul_dashboard-index .glyphicon-scissors:before {
  content: "\e226";
}
#page-local-qmul_dashboard-index .glyphicon-bitcoin:before {
  content: "\e227";
}
#page-local-qmul_dashboard-index .glyphicon-btc:before {
  content: "\e227";
}
#page-local-qmul_dashboard-index .glyphicon-xbt:before {
  content: "\e227";
}
#page-local-qmul_dashboard-index .glyphicon-yen:before {
  content: "\00a5";
}
#page-local-qmul_dashboard-index .glyphicon-jpy:before {
  content: "\00a5";
}
#page-local-qmul_dashboard-index .glyphicon-ruble:before {
  content: "\20bd";
}
#page-local-qmul_dashboard-index .glyphicon-rub:before {
  content: "\20bd";
}
#page-local-qmul_dashboard-index .glyphicon-scale:before {
  content: "\e230";
}
#page-local-qmul_dashboard-index .glyphicon-ice-lolly:before {
  content: "\e231";
}
#page-local-qmul_dashboard-index .glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
#page-local-qmul_dashboard-index .glyphicon-education:before {
  content: "\e233";
}
#page-local-qmul_dashboard-index .glyphicon-option-horizontal:before {
  content: "\e234";
}
#page-local-qmul_dashboard-index .glyphicon-option-vertical:before {
  content: "\e235";
}
#page-local-qmul_dashboard-index .glyphicon-menu-hamburger:before {
  content: "\e236";
}
#page-local-qmul_dashboard-index .glyphicon-modal-window:before {
  content: "\e237";
}
#page-local-qmul_dashboard-index .glyphicon-oil:before {
  content: "\e238";
}
#page-local-qmul_dashboard-index .glyphicon-grain:before {
  content: "\e239";
}
#page-local-qmul_dashboard-index .glyphicon-sunglasses:before {
  content: "\e240";
}
#page-local-qmul_dashboard-index .glyphicon-text-size:before {
  content: "\e241";
}
#page-local-qmul_dashboard-index .glyphicon-text-color:before {
  content: "\e242";
}
#page-local-qmul_dashboard-index .glyphicon-text-background:before {
  content: "\e243";
}
#page-local-qmul_dashboard-index .glyphicon-object-align-top:before {
  content: "\e244";
}
#page-local-qmul_dashboard-index .glyphicon-object-align-bottom:before {
  content: "\e245";
}
#page-local-qmul_dashboard-index .glyphicon-object-align-horizontal:before {
  content: "\e246";
}
#page-local-qmul_dashboard-index .glyphicon-object-align-left:before {
  content: "\e247";
}
#page-local-qmul_dashboard-index .glyphicon-object-align-vertical:before {
  content: "\e248";
}
#page-local-qmul_dashboard-index .glyphicon-object-align-right:before {
  content: "\e249";
}
#page-local-qmul_dashboard-index .glyphicon-triangle-right:before {
  content: "\e250";
}
#page-local-qmul_dashboard-index .glyphicon-triangle-left:before {
  content: "\e251";
}
#page-local-qmul_dashboard-index .glyphicon-triangle-bottom:before {
  content: "\e252";
}
#page-local-qmul_dashboard-index .glyphicon-triangle-top:before {
  content: "\e253";
}
#page-local-qmul_dashboard-index .glyphicon-console:before {
  content: "\e254";
}
#page-local-qmul_dashboard-index .glyphicon-superscript:before {
  content: "\e255";
}
#page-local-qmul_dashboard-index .glyphicon-subscript:before {
  content: "\e256";
}
#page-local-qmul_dashboard-index .glyphicon-menu-left:before {
  content: "\e257";
}
#page-local-qmul_dashboard-index .glyphicon-menu-right:before {
  content: "\e258";
}
#page-local-qmul_dashboard-index .glyphicon-menu-down:before {
  content: "\e259";
}
#page-local-qmul_dashboard-index .glyphicon-menu-up:before {
  content: "\e260";
}
#page-local-qmul_dashboard-index .collapsedown {
  padding-right: 10px;
}
#page-local-qmul_dashboard-index .top5 {
  margin-top: 5px;
}
#page-local-qmul_dashboard-index .no-margin {
  margin: 0 !important;
}
#page-local-qmul_dashboard-index .progress {
  height: 20px;
  margin-bottom: 2px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#page-local-qmul_dashboard-index .progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
#page-local-qmul_dashboard-index .progress-striped .progress-bar,
#page-local-qmul_dashboard-index .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
#page-local-qmul_dashboard-index .progress.active .progress-bar,
#page-local-qmul_dashboard-index .progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
#page-local-qmul_dashboard-index .progress-bar-success {
  background-color: #5cb85c;
}
#page-local-qmul_dashboard-index .progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#page-local-qmul_dashboard-index .progress-bar-info {
  background-color: #5bc0de;
}
#page-local-qmul_dashboard-index .progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#page-local-qmul_dashboard-index .progress-bar-warning {
  background-color: #f0ad4e;
}
#page-local-qmul_dashboard-index .progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#page-local-qmul_dashboard-index .progress-bar-danger {
  background-color: #d9534f;
}
#page-local-qmul_dashboard-index .progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#page-local-qmul_dashboard-index .db-edit-button {
  float: right;
}
#page-local-qmul_dashboard-index .bg-info {
  background-color: #d9edf7!important;
}
#page-local-qmul_dashboard-index .panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#page-local-qmul_dashboard-index .panel h3 {
  background: none;
}
#page-local-qmul_dashboard-index .panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#page-local-qmul_dashboard-index .panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#page-local-qmul_dashboard-index .panel-primary {
  border-color: #6d7991;
  margin-top: 10px;
}
#page-local-qmul_dashboard-index .panel-primary .panel-heading {
  color: #ffffff;
  background-color: #6d7991;
  border-color: #6d7991;
}
#page-local-qmul_dashboard-index .panel-success {
  border-color: #d6e9c6;
}
#page-local-qmul_dashboard-index .panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#page-local-qmul_dashboard-index .panel-warning {
  border-color: #dacf9e;
}
#page-local-qmul_dashboard-index .panel-warning .panel-heading {
  color: #b8ab6d;
  background-color: #fcf8e3;
  border-color: #dacf9e;
}
#page-local-qmul_dashboard-index .panel-danger {
  border-color: #eed3d7;
}
#page-local-qmul_dashboard-index .panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
#page-local-qmul_dashboard-index .panel-info {
  border-color: #bce8f1;
}
#page-local-qmul_dashboard-index .panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
#page-local-qmul_dashboard-index .pp_grademark_open .pp_origreport_open {
  color: #3b5179;
}
#page-local-qmul_dashboard-index .pp_grademark_open .pp_origreport_open:hover {
  color: #550000;
}
#page-local-qmul_dashboard-index .table .moduleIcon {
  margin-right: 8px !important;
}
#page-local-qmul_dashboard-index .table td {
  padding: 5px;
  vertical-align: middle;
}
#page-local-qmul_dashboard-index .modal {
  position: fixed;
  top: 10%;
  right: 15%;
  left: 15%;
  width: auto;
  margin: 0;
  background-color: ghostwhite;
}
#page-local-qmul_dashboard-index .modal .modal-body {
  padding: 15px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#page-local-qmul_dashboard-index .gradeplus-path {
  width: 20px!important;
}
#page-local-qmul_dashboard-index .advancedgradefeedback {
  font-weight: bold;
  padding-bottom: 20px;
}
#page-local-qmul_dashboard-index .advancedgradefeedback div {
  font-weight: normal;
  padding-bottom: -20px;
}
#page-local-qmul_dashboard-index .advancedgradefeedback > div {
  margin-bottom: 20px;
}
#page-local-qmul_dashboard-index .modal-body table th,
#page-local-qmul_dashboard-index .modal-body table td {
  float: none!important;
}
#page-local-qmul_dashboard-index .modal-footer button {
  font-size: 16px;
}
#page-local-qmul_dashboard-index .modal-header button {
  font-size: 24px;
}
@media (min-width: 1200px) {
  #page-local-qmul_dashboard-index .modal .modal-body .chartcontainer {
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #page-local-qmul_dashboard-index .modal .modal-body .chartcontainer {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #page-local-qmul_dashboard-index .modal .modal-body .chartcontainer {
    margin-top: 10px;
  }
}
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  #page-local-qmul_dashboard-index .modal .modal-body .chartcontainer {
    margin-top: 10px;
  }
}
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait) {
  #page-local-qmul_dashboard-index .modal .modal-body .chartcontainer {
    margin-top: 10px;
  }
}
@media (max-width: 480px) and (orientation: landscape) {
  #page-local-qmul_dashboard-index .modal .modal-body .chartcontainer {
    width: auto;
    margin-top: 10px;
    max-width: 400px;
  }
}
@media (max-width: 480px) and (orientation: portrait) {
  #page-local-qmul_dashboard-index .modal {
    top: 2%;
    right: 2%;
    left: 2%;
    width: auto;
  }
  #page-local-qmul_dashboard-index .modal .modal-body .chartcontainer {
    margin-top: 10px;
    max-width: 400px;
  }
}
