body#page-grade-report-qmul_sits-index #fgroup_id_users,
body#page-grade-report-qmul_sits-index #fgroup_id_gradeitems
{
    float: left;
    width: auto;
}

body#page-grade-report-qmul_sits-index form fieldset span
{
    display: block;
    clear: both;
}

body#page-grade-report-qmul_sits-index form input[type=checkbox],
body#page-grade-report-qmul_sits-index form input[type=checkbox][disabled=disabled] {
    margin: -4 7 3 0;
}

section#region-main li.node,
section#region-main li.course {
    list-style-type: none;
}

/*
 * Hide child ul unless expanded set on parent li
 */
section#region-main li.node > ul {
    display: none;
}

section#region-main li.node.expanded > ul {
    display: block;
}

/*
 * Show the corrent icon
 */
section#region-main li.node > img.collapse-node {
    display: none;
}

section#region-main li.node > img.expand-node {
    display: inline;
}

section#region-main li.node.expanded > img.collapse-node {
    display: inline;
}

section#region-main li.node.expanded > img.expand-node {
    display: none;
}

a.moodle-hidden {
    text-color: grey;
}

/*
 * Fix width on table.sits-module-mabcode
 */
table.sits-module-mabcodes {
    width: auto;
}
table.sits-module-mabcodes td {
    padding: 10px;
}
