{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/message_popover

    This template will render the message popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userid": 3,
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}
{{< core/popover_region }}
    {{$classes}}popover-region-messages{{/classes}}
    {{$attributes}}id="nav-message-popover-container" data-userid="{{userid}}"{{/attributes}}

    {{$togglelabel}}{{#str}} showmessagewindownonew, message {{/str}}{{/togglelabel}}
    {{$togglecontent}}
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1329.000000, -25.000000)" fill="#ffffff">
                    <title>{{#str}}messages, message{{/str}}</title>
                    <g>
                        <g transform="translate(1329.000000, 18.000000)">
                            <path d="M18,7 L2,7 C0.9,7 0,7.9 0,9 L0,27 L4,23 L18,23 C19.1,23 20,22.1 20,21 L20,9 C20,7.9 19.1,7 18,7 L18,7 Z M7,16 L5,16 L5,14 L7,14 L7,16 L7,16 Z M11,16 L9,16 L9,14 L11,14 L11,16 L11,16 Z M15,16 L13,16 L13,14 L15,14 L15,16 L15,16 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <div class="count-container badge badge-danger rounded-circle hidden" data-region="count-container"></div>
    {{/togglecontent}}

    {{$containerlabel}}{{#str}} notificationwindow, message {{/str}}{{/containerlabel}}

    {{$headertext}}{{#str}} messages, message {{/str}}{{/headertext}}
    {{$headeractions}}
        <div class="newmessage-link">
            {{$anchor}}
                <a href="{{{urls.writeamessage}}}">{{#str}} newmessage, message {{/str}}
                </a>
            {{/anchor}}
        </div>
        {{< core/hover_tooltip }}
            {{$anchor}}
                <a class="mark-all-read-button"
                    href="#"
                    role="button"
                    title="{{#str}} markallread {{/str}}"
                    data-action="mark-all-read">
                    <span class="normal-icon">{{#pix}} t/markasread, core, {{#str}} markallread {{/str}} {{/pix}}</span>
                    {{> core/loading }}
                </a>
            {{/anchor}}
            {{$tooltip}}{{#str}} markallread {{/str}}{{/tooltip}}
        {{/ core/hover_tooltip }}
        {{< core/hover_tooltip }}
            {{$anchor}}
                <a href="{{{urls.preferences}}}"
                    title="{{#str}} messagepreferences, message {{/str}}">
                    {{#pix}} i/settings, core, {{#str}} messagepreferences, message {{/str}} {{/pix}}
                </a>
            {{/anchor}}
            {{$tooltip}}{{#str}} messagepreferences, message {{/str}}{{/tooltip}}
        {{/ core/hover_tooltip }}
    {{/headeractions}}

    {{$content}}
        <div class="messages" data-region="messages" role="log" aria-busy="false" aria-atomic="false" aria-relevant="additions"></div>
        <div class="empty-message" data-region="empty-message" tabindex="0">{{#str}} nomessages, message {{/str}}</div>
    {{/content}}
{{/ core/popover_region }}
{{#js}}
require(['jquery', 'message_popup/message_popover_controller'], function($, controller) {
    var container = $('#nav-message-popover-container');
    var controller = new controller(container);
    controller.registerEventListeners();
    controller.registerListNavigationEventListeners();
});
{{/js}}