{{!
  First part is used when the due date is being edited (so the icon is for 'save changes').
  The second part is the icon to start editing the date.
  The 'activitytodo-editduedate' class must be on the outer element, for the javascript to work.
}}
{{#editduedate}}
<a href="#" class="activitytodo-editduedate">
    {{#pix}}t/approve, core, {{#str}}saveduedate, local_activitytodo{{/str}}{{/pix}}
</a>
{{/editduedate}}
{{^editduedate}}
<a href="#" class="activitytodo-editduedate">
    {{#pix}}t/editinline, core, {{#str}}editduedate, local_activitytodo{{/str}}{{/pix}}
</a>
{{/editduedate}}
