{{!
  The javascript uses the 'activitytodo-noteicon' class to add event handlers to the icons, it uses the 'activitytodo-add'
  and the 'activitytodo-edit' classes to determine what the current type of the button is.
  All these classes must be on the outer element of the icon DOM.
  Aside from that, the output can be changed as much as wanted.
}}
{{^hasnote}}
    <a href="#" class="activitytodo-noteicon activitytodo-add">
         <i class="glyphicon glyphicon-file-plus icon smallicon" title="{{#str}}addnote, local_activitytodo{{/str}}"></i>
    </a>
{{/hasnote}}
{{#hasnote}}
    <a href="#" class="activitytodo-noteicon activitytodo-edit">
      <i class="glyphicon glyphicon-file icon text-info smallicon" title="{{#str}}editnote, local_activitytodo{{/str}}"></i>
    </a>
{{/hasnote}}
