<span class="helpbutton">
    <a class="btn btn-link" role="button"
    data-container="body" data-toggle="popover"
    data-title="{{alt}}"
    data-placement="right" data-content="{{text}} {{completedoclink}}"
    data-html="true" tabindex="0" data-trigger="focus">
  		{{#pix}}help, core, {{alt}}{{/pix}}
	</a>
</span>