<ul class="nav mb-1 flex-column flex-sm-row nav-pills">
  {{#tabs}}
    <li class="nav-item">
      <a class="flex-sm-fill text-sm-center nav-link {{#active}}active{{/active}} {{#inactive}}disabled{{/inactive}}" {{#link}}href="{{{link}}}"{{/link}} title={{title}}>{{text}}</a>
    </li>
  {{/tabs}}
</ul>
{{#secondrow}}
  {{>core/tabtree}}
{{/secondrow}}
