@import "../../qmul/scss/variables";
@import "../../qmul/scss/moodle/variables";
@import "variables";
@import "../../qmul/scss/bootstrap/bootstrap";
@import "../../qmul/scss/mixins";

@include bg-variant('.bg-secondary', $brand-inverse);

@import "../../qmul/scss/moodle/bootstrapoverride";
@import "../../qmul/scss/moodle/glyphicons";
@import "../../qmul/scss/icons";

@import "../../qmul/scss/moodle/undo";
@import "../../qmul/scss/moodle/scaffolding";
@import "../../qmul/scss/moodle/core";
@import "../../qmul/scss/moodle/forms";
@import "../../qmul/scss/moodle/tables";
@import "../../qmul/scss/moodle/admin";
@import "../../qmul/scss/moodle/calendar";
@import "../../qmul/scss/moodle/course";
@import "../../qmul/scss/moodle/filemanager";
@import "../../qmul/scss/moodle/message";
@import "../../qmul/scss/moodle/question";
@import "../../qmul/scss/moodle/user";
@import "../../qmul/scss/moodle/userprofile";
@import "../../qmul/scss/moodle/login";
@import "../../qmul/scss/moodle/tags";
@import "../../qmul/scss/moodle/badges";
@import "../../qmul/scss/moodle/popover";
@import "../../qmul/scss/moodle/new";
@import "../../qmul/scss/moodle/blocks";
@import "../../qmul/scss/moodle/modules";
@import "../../qmul/scss/moodle/chat";
@import "../../qmul/scss/moodle/reports";
@import "../../qmul/scss/moodle/backup-restore";
@import "../../qmul/scss/moodle/buttons";
@import "../../qmul/scss/moodle/navs";
@import "../../qmul/scss/moodle/enrolment";
@import "../../qmul/scss/moodle/responsive";
@import "../../qmul/scss/moodle/debug";
@import "../../qmul/scss/moodle/dock";
@import "../../qmul/scss/moodle/grade";
@import "../../qmul/scss/moodle/footer";
@import "../../qmul/scss/moodle/alerts";
@import "../../qmul/scss/moodle/marketingspots";
@import "../../qmul/scss/moodle/frontpage";
@import "../../qmul/scss/moodle/dashboard";
@import "../../qmul/scss/moodle/slick";
@import "../../qmul/scss/moodle/usertour";

@import "../../qmul/scss/synergy";
@import "../../qmul/scss/legacy";
@import "child";