.filter_oembed_docsdotcom iframe {
    height: 400px;
    width: 100%;
}

.oembed-card {
    background-size: cover;
    min-height: 10em;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-background-size: cover;
    -webkit-transition: all 0.4s ease-in-out;
}

.oembed-card-title {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.5em 0.5em;
    position: absolute;
    top: 0;
}

.oembed-content > *:first-child {
    width: 100%;
}

.oembed-content video {
    height: auto;
}

.btn.btn-link.oembed-card-play {
    background-image: url([[pix:filter_oembed|play]]);
    background-position: 0;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #666);
    left: -webkit-calc(50% - 15%/2);
    left: calc(50% - 15%/2);
    margin: 0;
    opacity: 0.9;
    padding-top: 15%;
    position: absolute;
    top: -webkit-calc(50% - 15%/2);
    top: calc(50% - 15%/2);
    transition: all 0.4s ease-in-out;
    width: 15%;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-filter: drop-shadow(1px 1px 1px #666);
}

.btn.btn-link.oembed-card-play:hover {
    background-position: 0;
    -webkit-filter: drop-shadow(0px 0px 0px #666);
    filter: drop-shadow(0px 0px 0px #666);
    opacity: 1;
}

.oembed-responsive {
    display: block;
    position: relative;
    width: 100%;
}

.oembed-responsive > *:not(video):first-child {
    bottom: 0 !important;
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
}

.oembed-responsive-pad {
    display: block;
}

.oembed-provider-details {
    display: none;
    font-size: 0.9em;
    margin-top: 1em;
}

tr.oembed-provider-editing .oembed-provider-details {
    display: block;
}

tr.oembed-provider-editing .oembed-provider-actions {
    display: none;
}

.oembed-provider-actions {
    float: right;
    margin-right: 1em;
}

#oembedproviders td.provider div.alert {
    margin-top: 1em;
}

.oembed-providersource {
    font-size: 90%;
}