{{!
  This is an item in the todolist widget.
}}
<div class="todoitem {{#isoverdue}}overdue{{/isoverdue}} clearfix" data-cmid="{{cmid}}">
    <h6 class="activityname mb-0">{{{activityname}}}</h6>
    <div class="text-primary coursename">{{coursename}}</div>
    <div class="info my-1 clearfix">
        {{#isoverdue}}
        <div class="d-inline-block duestatus overdue">{{#str}}overdue, widgettype_assignments{{/str}}</div>
        {{/isoverdue}}
        {{#duedate}}
        <div class="duedate d-inline-block {{#isoverdue}}overdue{{/isoverdue}}">{{duedate}}</div>
        {{/duedate}}
    </div>
    <span class="actions">
        <a href="#" class="todoremove" data-note="{{notecontent}}" data-duedate="{{duedate}}">
            {{#pix}}t/delete, core, {{#str}}removetodo, local_activitytodo{{/str}}{{/pix}}
        </a>
    </span>
</div>
